// checkbox
@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

// loader
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-text {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// //loader

// popup
@keyframes slide-in-down {
  0% {
    opacity: 0;
    transform: translateY(-60%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake-x {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes flex-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

// light
@keyframes light {
  25% {
    clip-path: polygon(50% 50%, 100% 40%, 100% 60%);
    opacity: 0.4;
  }
  75% {
    clip-path: polygon(50% 50%, 100% 10%, 100% 90%);
    opacity: 1;
  }
}
@keyframes light-line {
  0% {
    clip-path: polygon(50% 50%, 100% 48%, 100% 52%);
    opacity: 1;
  }
  25% {
    clip-path: polygon(50% 50%, 100% 43%, 100% 46%);
    opacity: 0.5;
  }
  75% {
    clip-path: polygon(50% 50%, 100% 57%, 100% 60%);
    opacity: 0.5;
  }
  100% {
    clip-path: polygon(50% 50%, 100% 48%, 100% 52%);
    opacity: 1;
  }
}
@keyframes light-glow {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
}

// scan
@keyframes scan {
  0% {
    top: 50%;
  }
  25% {
    top: 5%;
    transform: translateY(0);
  }
  45% {
    top: 15%;
    transform: rotateX(145deg) translateY(100%);
  }
  75% {
    top: 95%;
    transform: rotateX(180deg) translateY(100%);
  }
}

// blow
@keyframes blow {
  0% {
    opacity: 0;
    stroke-dashoffset: 1000;
  }
  40% {
    opacity: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
  80% {
    opacity: 0;
    stroke-dasharray: 1000;
    stroke-dashoffset: -1000;
  }
}

// blood-heart
@keyframes heart {
  10% {
    transform: scale(1.2);
  }
}

@keyframes heart-color {
  10% {
    background-color: $color-tertiary;
  }
}
