
// checkbox
@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

// loader
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle-opposite {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes loader {
  0%,
  100% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes rotate-loader {
  0%,
  10% {
    transform: rotate(-153deg);
  }
  90%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes ball-moveX {
  0%,
  10% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(2.000rem); // 28px
  }
}

@keyframes loading-text {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// //loader

// main
@keyframes slide-in-down {
  0% {
    opacity: 0;
    transform: translateY(-60%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flex-width {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

// light
@keyframes light {
  25% {
    clip-path: polygon(50% 50%, 100% 40%, 100% 60%);
    opacity: 0.4;
 }
  75% {
    clip-path: polygon(50% 50%, 100% 10%, 100% 90%);
    opacity: 1;
 }
}
@keyframes lightGlow {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
}

