// Variable declarations
// Path
$asset-base-path: './..' !default;

@function asset($type, $file) {
  @return url($asset-base-path + '/' + $type + '/' + $file);
}

@function image-path($file) {
  @return asset('images', $file);
}

@function font-path($file) {
  @return asset('fonts', $file);
}

// Media Query Rule
$small: 'screen and (min-width: 960px) and (max-width: 1159.98px)';
$medium: 'screen and (min-width: 1160px) and (max-width: 1319.98px)';
$large: 'screen and (min-width: 1320px) and (max-width: 1919.98px)';
$xlarge: 'screen and (min-width: 1920px)';

$max-small: 'screen and (max-width: 959.98px)';
$max-medium: 'screen and (max-width: 1159.98px)';
$max-large: 'screen and (max-width: 1319.98px)';
$max-xlarge: 'screen and (max-width: 1919.98px)';

$min-small: 'screen and (min-width: 960px)';
$min-large: 'screen and (min-width: 1320px)';
$min-xlarge: 'screen and (min-width: 1920px)';

// Vendor-prefix
@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

@mixin pseudo-before {
  content: '';
  position: absolute;
  display: block;
}

@mixin hidden {
  position: absolute;
  left: -9999px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// a link
@mixin alink-block-box {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@mixin alink-flex-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

// layout - flex
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-grow {
  flex-basis: auto;
  flex-grow: 1;
  justify-content: flex-start;
}

@mixin flex-tools-right {
  flex-basis: auto;
  flex-grow: 0;
  justify-content: flex-end;
}

@mixin en {
  letter-spacing: 0;
}
.en {
  letter-spacing: 0;
}

// size
@mixin form-style {
  // 30px
  padding: 0.538em 0.923em; // 7px 12px
  border: 1px solid $color-border-form;
  border-radius: $radius-default;
  background-color: $color-light;
  font-size: 0.929rem; // 13px
}

@mixin form-style-search-box {
  // 38px
  width: 100%;
  padding: 0.75em 0.857em; // 10.5px 12px
  border: 1px solid $color-border-form;
  border-radius: $radius-default;
  background-color: $color-light;
  font-size: 1rem;
}

// radius
@mixin main-radius {
  border: {
    bottom-left-radius: $radius-main;
    bottom-right-radius: $radius-main;
  }
}

// common variable style
//
$global-space: 5em; // 80px
$header-height: 8em; // 128px

$menu-height: 4.571em;
$filter-bar-height: 4.857rem; // 68px

$color-primary: #3645b1;
$color-primary-deep: #1e2c7e;
$color-secondary: #54abe7;
$color-tertiary: #ea6c78;
$color-yellow: #f7d63b;
$color-green: #53be89;
$color-important: #c70d0d;
$color-error: #c70d0d;

$color-bg: #f1f4f9;
$color-white: #fff;
$color-light: #f8f9fd;
$color-deep: #000;
$color-dark: #111;
$color-gray: #c1c2cb;
$color-blue-gray: #7c85a3;
$color-dark-gray: #656985;

$color-text-sub: #7c8094; // sub-text
$color-text-sub-panel: #b5b5b5; // sub-text-bottom-sheet
$color-text-title-sub: #3c50c4;

$color-grid-header: #dfdfe0;
$color-border-form: #e4e4ea;
$color-border-form-filter: #848485;
$color-border-sidepanel: #d2d2d7;

$radius-default: 40px;
$radius-main: 80px;
$radius-small: 20px;
$radius-round: 9999px;

$drop-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
$box-shadow: 0 40px 50px 10px rgb(30, 44, 126, 0.6);
$box-shadow-modal: 0 2px 10px 0 rgba(0, 0, 0, 0.18);

@mixin icon($name, $size) {
  width: $size;
  height: $size;
  background: {
    image: image-path($name);
    repeat: no-repeat;
    position: 50% 50%;
    size: $size $size;
  }
}

// common
html,
body,
input,
select,
textarea,
button {
  font: {
    size: 16px;
    family: 'SFPro', 'NotoKR', sans-serif;
  }
  color: #6a6e83;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

body {
  height: 100vh;
  background-color: $color-bg;
  overflow: hidden;
}

input,
select,
button {
  line-height: 1;
}

a {
  color: #6a6e83;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
    outline-offset: 0;
  }
}

:disabled {
  cursor: default;
}

.clear {
  zoom: 1;
}
.clear::after {
  content: '';
  display: block;
  clear: both;
}
.inline-group-box {
  font-size: 0;
}

.align-right {
  text-align: right;
}

.error-message {
  color: $color-error;
}

// button
.btn {
  $space-h: 1.44em; // 40px
  // $space-v: 0.900em; // 25px
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.880em; // 80px;
  padding: {
    left: $space-h;
    right: $space-h;
  }
  border: {
    width: 1px;
    style: solid;
    color: transparent;
    radius: $radius-round;
  }
  background-color: $color-gray;
  color: $color-light;
  font: {
    size: 1.736rem; // 27.776px
    weight: 500;
  }
  line-height: 1;
  transition: all 0.4s ease;

  &:hover,
  &:focus,
  &:visited {
    background-color: #74c0e8;
  }

  &.dark {
    $space-h: 1.344em; // 42px
    // $space-v: 0.752em; // 23.5px
    height: 2.560em; // 80px
    padding: {
      left: $space-h;
      right: $space-h;
    }
    background-color: $color-dark-gray;
    color: #eaecf8;
    font-size: 1.953rem; // 31.248px

    &:hover,
    &:focus,
    &:visited {
      background-color: $color-secondary;
    }
  }

  &.outline {
    border-color: $color-border-form;
    background-color: $color-white;
    color: $color-dark;

    &:hover {
      border-color: $color-dark;
    }

    &:disabled {
      border-color: $color-border-form;
      background-color: #eeeeef;
      color: #cccccf;
    }
  }

  &.primary {
    height: 4rem; // 56px
    line-height: 4rem;
    background-color: $color-primary;
    font-size: 1.071rem;
  }

  &:disabled {
    background-color: #e1e1e4;
    color: $color-white;
  }

  // radio-toggle-btn
  &.radio-toggle {
    padding: {
      left: 1.3em; // 18.2px
      right: 1.3em;
    }
    border-color: $color-border-form;
    background-color: #f2f2f3;
    color: $color-dark;
    font: {
      size: 1rem;
      weight: 400;
    }
    cursor: pointer;
    user-select: none;
  }
  //
  &.checkbox-btn {
    justify-content: flex-start;
    width: 8.571rem; // 120px
    height: 2.714rem; // 38px
    padding: {
      left: 1.429em; // 20px
      right: 2em; // 28px
    }
    border: {
      width: 0;
      radius: $radius-round;
    }
    background-color: #eeeeef;
    color: #202020;
    font: {
      size: 1rem;
      weight: 400;
    }
    cursor: pointer;
    user-select: none;
  }
}

// form
::placeholder {
  @include vendor-prefix(color, #848485);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @include vendor-prefix(appearance, none);
  margin: 0;
}
input {
  &[type='radio'],
  &[type='checkbox'] {
    cursor: pointer;
  }
}
input[type='text'],
input[type='number'],
select {
  @include form-style-search-box;
  &.small {
    @include form-style;
  }
  &:focus,
  &:active,
  &.focus {
    border-color: $color-primary;
  }
  &:disabled {
    border-color: $color-border-form;
    background-color: #eeeeef;
    color: #848485;
  }
  &.success {
    border-color: $color-green;
  }
  &.error {
    border-color: $color-error;
    color: $color-error;
  }
}

// radio-default, checkbox-default
.radio {
  $size: 1.429em; // 20px
  display: inline-block;
  height: $size;
  cursor: pointer;
  // user-select: none;
  & + .radio {
    margin-left: 1.429em; // @TODO 20px
  }
  input[type='radio'] {
    display: none;

    & + span {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 2em; // 28px

      &:focus::before,
      &:hover::before {
        border-color: $color-primary;
      }

      &::before {
        @include pseudo-before;
        top: 0px;
        left: 0px;
        width: $size;
        height: $size;
        // margin-right: 0.357em; // 5px
        border: {
          width: 1px;
          style: solid;
          color: $color-border-form;
          radius: $radius-round;
        }
        box-sizing: border-box;
        background-color: $color-light;
        transition: 0.2s;
      }
      &::after {
        @include pseudo-before;
        $inner-size: calc(#{$size} * 0.5);
        top: calc(50% - (#{$inner-size} / 2));
        left: calc((#{$size} / 2) - (#{$inner-size} / 2));
        width: $inner-size;
        height: $inner-size;
        background-color: $color-primary;
        border-radius: $radius-round;
        opacity: 0;
        transform: scale(0, 0);
        transition: {
          duration: 0.2s;
          timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
        }
      }
    }
    &:checked + span {
      &::before {
        border-color: $color-primary;
      }
      &::after {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
    &:disabled + span {
      cursor: default;
      &::before {
        border-color: transparent;
        background-color: #eeeeef;
      }
    }
  }

  // radio-toggle
  &-toggle-box {
    input {
      &:first-child {
        + label {
          margin-left: 0;
        }
      }
      &:not(:first-child) {
        + label {
          margin-left: 0.286em; // 4px in search-box
        }
      }
    }

    .radio {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;

      &:active,
      &:checked {
        + .btn {
          border-color: transparent;
          background-color: $color-primary;
          color: #fff;
          font-weight: 700;
        }
      }

      &:disabled,
      &[disabled] {
        // @TODO
        + .radio-toggle {
          pointer-events: none;
          filter: none;
          opacity: 0.65;
        }
      }
    }
  }
}

// checkbox default
input[type='checkbox'] {
  $size: 1.429em; // 20px
  position: relative;
  width: $size;
  height: $size;
  margin-top: 3px;

  &:focus::before,
  &:hover::before {
    border-color: $color-primary;
  }

  &::before {
    @include pseudo-before;
    top: 0;
    left: 0;
    width: $size;
    height: $size;
    border: {
      width: 1px;
      style: solid;
      color: $color-border-form;
      radius: $radius-default;
    }
    box-sizing: border-box;
    background-color: $color-light;
    transition: 0.2s;
  }

  &::after {
    $check-size: 1.286em; // 18px
    @include pseudo-before;
    width: $check-size;
    height: $check-size;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='none' stroke-width='2px' stroke='white' stroke-linecap='round' viewBox='0 0 21 21'%3E%3Cpolyline points='5 10.75 8.5 14.25 16 6'%3E%3C/polyline%3E%3C/svg%3E");
    top: calc((#{$size} / 2) - 0.643em);
    left: calc((#{$size} / 2) - 0.643em); // 18px/2 -> 9px
    transform: scale(0);
  }

  &:checked {
    &::before {
      border-color: transparent;
      background-color: $color-primary;
    }
    &::after {
      animation: scale-in 0.1s 0.2s linear forwards;
    }
  }

  &:disabled {
    cursor: default;
    &::before {
      border-color: transparent;
      background-color: #eeeeef;
    }
  }
}

.checkbox {
  $size: 1.429em; // 20px
  display: inline-block;
  height: $size;
  cursor: pointer;

  & + .checkbox {
    margin-left: 1.429em; // @TODO 20px
  }

  input[type='checkbox'] {
    display: none;

    & + span {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 2em; // 28px

      &:focus::before,
      &:hover::before {
        border-color: $color-primary;
      }

      &::before {
        @include pseudo-before;
        top: 0;
        left: 0;
        width: $size;
        height: $size;
        border: {
          width: 1px;
          style: solid;
          color: $color-border-form;
          radius: $radius-default;
        }
        box-sizing: border-box;
        background-color: $color-light;
        transition: 0.2s;
      }

      &::after {
        $check-size: 1.286em; // 18px
        @include pseudo-before;
        width: $check-size;
        height: $check-size;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='none' stroke-width='2px' stroke='white' stroke-linecap='round' viewBox='0 0 21 21'%3E%3Cpolyline points='5 10.75 8.5 14.25 16 6'%3E%3C/polyline%3E%3C/svg%3E");
        left: calc((#{$size} / 2) - 0.643em); // 18px/2 -> 9px
        transform: scale(0);
      }
    }

    &:checked + span {
      &::before {
        border-color: transparent;
        background-color: $color-primary;
      }
      &::after {
        animation: scale-in 0.1s 0.2s linear forwards;
      }
    }

    &:disabled + span {
      cursor: default;
      &::before {
        border-color: transparent;
        background-color: #eeeeef;
      }
    }
  }

  // checkbox login
  &-special {
    $size: 1.714em; // 24px
    display: inline-flex;
    align-items: center;
    position: relative;
    height: $size;
    box-sizing: border-box;
    cursor: pointer;

    input[type='checkbox'] {
      display: none;

      & + .check {
        position: absolute;
        width: $size;
        height: $size;
        border: {
          width: 2px;
          style: solid;
          color: $color-border-form;
          radius: $radius-default;
        }
        transition: 0.2s;
      }
      &:checked + .check {
        top: -0.286em; // 4px
        width: $size;
        height: calc(#{$size} * 0.6);
        border: {
          width: 3px;
          top: transparent;
          right: transparent;
          color: $color-primary;
          radius: 0;
        }
        transform: rotate(-45deg);
      }
    }

    span {
      padding-left: 2.571em; // 36px
      transition: 0.5s;
    }
  }

  // checkbox-btn
  &-btn-box {
    input {
      &:first-child {
        + label {
          margin-left: 0;
        }
      }
      &:not(:first-child) {
        + label {
          margin-left: 0.571em; // 8px
        }
      }
    }

    .checkbox {
      display: none;

      &:active,
      &:checked {
        + .btn {
          background-color: $color-primary;
          color: #fff;
          &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='none' stroke-width='2px' stroke='white' stroke-linecap='round' viewBox='0 0 21 21'%3E%3Cpolyline points='5 10.75 8.5 14.25 16 6'%3E%3C/polyline%3E%3C/svg%3E");
          }
        }
      }

      &:disabled,
      &[disabled] {
        // @TODO
        + .checkbox-btn {
          pointer-events: none;
          filter: none;
          opacity: 0.5;
        }
      }
    }

    .checkbox-btn {
      position: relative;

      &::before {
        $check-size: 1.429em; // 20px
        @include pseudo-before;
        width: $check-size;
        height: $check-size;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='none' stroke-width='2px' stroke='currentColor' stroke-linecap='round' viewBox='0 0 21 21'%3E%3Cpolyline points='5 10.75 8.5 14.25 16 6'%3E%3C/polyline%3E%3C/svg%3E");
        top: 0.714em; // 10px
        right: 0.857em; // 12px
      }
    }
  }
}

// ico

.ico {
  position: relative;

  &-close {
    $size: 1.429rem;
    height: $size;
    width: $size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0;

    &::before,
    &::after {
      @include pseudo-before;
      width: 100%;
      height: 0.143rem;
      background-color: $color-dark;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    // &:hover::before,
    // &:hover::after {

    // }
  }
}

// dimmed
.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  animation: fade-in 0.3s ease forwards;
  z-index: 9999;
}

// loading
.loading {
  &-indicator {
    @include flex-center;
  }

  &-text {
    $size: 7.143rem; // 100px
    position: relative;
    width: $size;
    height: $size;

    .loading-circle-line {
      width: $size;
      height: $size;
      border: {
        width: 0.143rem; // 0.1px / 2px 0.143
        style: solid;
        top-color: transparent;
        right-color: $color-primary;
        bottom-color: transparent;
        left-color: $color-primary;
        radius: $radius-round;
      }
      transform-origin: 50% 50%;
      animation: circle 1.5s linear infinite;

      &-text {
        $font-size: 1rem; // 14px
        position: absolute;
        top: calc(50% - (#{$font-size} / 2));
        width: $size;
        color: $color-light;
        font: {
          size: $font-size;
          weight: 700;
        }
        text-align: center;
        letter-spacing: 0;
        opacity: 0;
        animation: loading-text 2s linear infinite;
      }
    }
  }

  &-circle-track {
    $size: 3.429rem; // 48px;
    width: $size;
    height: $size;
    border: {
      width: 0.357rem; // 5px
      style: solid;
      color: $color-light;
      bottom-color: $color-primary;
      radius: $radius-round;
    }
    display: inline-block;
    box-sizing: border-box;
    animation: circle 1s linear infinite;
  }

  &-circle {
    $size: 3.429rem; // 48px;
    position: relative;
    display: inline-block;
    width: $size;
    height: $size;

    &::before,
    &::after {
      @include pseudo-before;
      top: 0;
      left: 0;
      width: $size;
      height: $size;
      border-radius: $radius-round;
      background-color: $color-primary;
      box-sizing: border-box;
      animation: loader 2s ease-in-out infinite;
    }
    &::after {
      animation-delay: 1s;
    }
  }

  &-dots {
    $size: 1rem;
    position: relative;
    width: 7.143rem; // 100px
    height: $size;

    &::before,
    &::after {
      @include pseudo-before;
      top: 0;
      left: 0;
      width: $size;
      height: $size;
      border-radius: $radius-round;
      background: $color-primary;
      box-shadow: 2rem 0 $color-primary; // 28px
      animation: ball-moveX 1s linear infinite;
    }
    &::after {
      box-shadow: none;
      transform-origin: 2.5rem 0; // 35px
      transform: rotate(-153deg);
      animation: rotate-loader 1s linear infinite;
    }
  }
}

// error page
.error-wrapper {
  @include flex-center;
  .error {
    @include flex-column-center;
    min-width: 57.143rem; // 800px
    min-height: 35.714rem; // 500px
    padding: $global-space; // 40px
    background-color: $color-light;
    box-shadow: $box-shadow-modal;
    .content {
      padding-bottom: 2.857em; // 40px
      text-align: center;
      .title {
        padding-bottom: 0.667em; // 20px
        font: {
          family: 'Youandi';
          size: 2.143rem; // 30px
          weight: 700;
        }
      }
      span {
        color: $color-primary;
      }
    }
    .btn.primary {
      width: 13.333em; // 200px
    }
  }
}

// date picker
.date-picker {
  display: flex;
  align-items: center;
}

// grid
.grid-link {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: underline;
    outline-offset: 0;
  }
}
