// modal
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $modal-space;
  z-index: 10000;

  &.active {
    display: block;
  }

  &::before {
    @include pseudo-before;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    animation: fade-in 0.3s ease forwards;
    z-index: -1;
  }

  + .modal {
    &::before {
      content: none;
      display: none;
    }
  }

  &-container {
    @include flex-center;
  }

  .modal-wrap {
    @include flex-column;
    width: 100%;
    min-width: 45.625rem; // 730px
    max-width: 56.25rem; // 900px
    min-height: 16.875rem; // 270px;
    border-radius: $radius-modal;
    background-color: $color-white;
    box-shadow: $box-shadow-modal;
    animation: slide-in-down 0.5s ease;
    z-index: 10001;
  }

  .contents-area {
    @include flex-grow;
    padding: 4.375em; // 70px
    line-height: 1.4;

    .title {
      color: $color-primary;
      font: {
        size: 2.604rem; // 41.664px
        weight: 700;
      }
      &-description {
        padding-top: 0.9em; // 25px
        font-size: 1.736rem; // 27.776px

        &.selected-task {
          color: $color-dark;
          font-weight: 500;
        }
      }
    }
  }

  .button-area {
    @include flex-between;

    .btn {
      width: 100%;
      height: 8.75rem; // 140px
      border-radius: 0;
      background-color: #e6ebf2;
      color: #6e747d;
      font-size: 2.604rem; // 41.664px

      &:first-child {
        border-bottom-left-radius: $radius-modal;
      }
      &:last-child {
        border-bottom-right-radius: $radius-modal;
        background-color: $color-secondary-deep;
        color: $color-light;
      }
      &:only-child {
        border: {
          bottom-left-radius: $radius-modal;
          bottom-right-radius: $radius-modal;
        }
        background-color: $color-secondary-deep;
        color: $color-light;
      }
    }
  }

  &.toast {
    .modal-wrap {
      max-width: 46.25rem; // 740px
      .contents-area {
        display: flex;
        align-items: center;
        padding: 3.5em; // 56px
      }
    }

    .toast-text {
      color: $color-text-sub;
      strong {
        @include text-highlight;
        color: $color-primary-deep;
        font-weight: 500;
      }

      &-title {
        color: #dd4351;
        font: {
          size: 2.604rem; // 41.664px
          weight: 500;
        }
      }

      &-sub-title {
        color: #dd4351;
        font: {
          size: 1.953rem; // 31.248px
          weight: 500;
        }
        line-height: 1.2;
      }

      &-sub {
        padding-top: 0.36em; // 10px
        font-size: 1.736rem; // 27.776px

        .countdown-num {
          display: inline-block;
          width: 0.72em; // 20px
          color: $color-important;
          font-weight: 700;
        }
      }
    }

    .toast-icon {
      @include flex-column-center;
      margin-right: 0.167em; // 20px
      color: $color-important;
      font-size: 7.5rem; // 120px
    }

    .result {
      &-value {
        @include en;
        @include flex-column-center;
        $size: 11.25rem; // 180px
        width: $size;
        height: $size;
        margin-right: 0.617em; // 30px
        border-radius: $radius-round;
        background-color: #dd4351;
        color: $color-white;
        font: {
          size: 3.038rem; // 48.608px // 3.255rem; // 52.08px
          weight: 700;
        }
      }
    }

    &.pass,
    &.fail {
      .contents-area::before {
        @include pseudo-before;
        $size: 6.25rem; // 100px
        top: -7.5rem; // 120px
        left: calc(50% - (#{$size} / 2));
        width: $size;
        height: $size;
        background: {
          image: image-path('ico-fail-face.svg');
          repeat: no-repeat;
          position: 50%;
          size: $size auto;
        }
      }
    }

    &.pass {
      .contents-area::before {
        background-image: image-path('ico-pass-face.svg');
      }
      .result {
        &-value {
          background-color: $color-secondary;
        }
      }
      .toast-text-title {
        color: $color-primary;
      }
    }
  }
  .issued-qr {
    width: 100%;
    height: 32.000rem; // 32px
    img {
      height: 100%;
      object-fit: cover;
    }
    &-information {
      $space-h: 6.875em; // 11px
      margin-top: 2.500em; // 40px
      padding: {
        left: $space-h;
        right: $space-h;
      }
      li {
        $space-v: 1.25em; // 20px
        display: flex;
        align-items: center;
        padding: {
          top: $space-v;
          bottom: $space-v;
        }
        font-weight: 700;
        + li {
          border-top: 1px solid #d2d6dd;
        }
        label {
          display: inline-block;
          min-width: 4.526em; // 110px
          margin-right: 0.823em; // 20px
          color: $color-gray;
          font-size: 1.519rem; // 24.304px
          &[for='user-mobile'] + span {
            @include en;
          }
        }
        span {
          @include ellipsis;
          color: $color-text-title-sub;
          font-size: 2.387rem; // 38.192px
        }
      }
    }
  }
}

// bottom-sheet
.bottom-sheet {
  &::before {
    @include pseudo-before;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    z-index: 999;
  }

  &.active {
    &::before {
      opacity: 1;
      visibility: visible;
    }
    > div {
      opacity: 1;
      transform: translateY(0);
    }
  }
  + .bottom-sheet {
    &::before {
      content: none;
      display: none;
    }
  }
}

@mixin bottom-sheet-container {
  position: absolute;
  top: 10em;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: $global-space;
  border: {
    top-left-radius: $radius-big;
    top-right-radius: $radius-big;
  }
  background-color: $color-white;
  z-index: 9999;

  opacity: 0;
  transform: translateY(100%);
  transition: all 0.4s cubic-bezier(0.32, 1, 0.23, 1);

  .title-area {
    padding-top: 1.8em; // 50px

    .title-description {
      color: $color-text-sub-panel;
    }
  }

  h2 {
    position: relative;
    i {
      position: absolute;
      top: -0.06em; // 6px
      padding-left: 0.18em; // 18px
      font-size: 6.25rem; // 100px
    }
  }

  .contents-area {
    overflow: auto;
  }

  .button-area {
    display: flex;
    flex-direction: column;
    .btn {
      height: 2.88em; // 120px
      background-color: $color-primary;
      color: #f3f6fe;
      font-size: 2.604rem; // 41.664px

      &:hover,
      &:focus,
      &:visited {
        background-color: $color-primary-deep;
      }
      + .btn {
        margin-top: 0.48em; // 20px
      }

      &.text {
        align-self: center;
        height: 3.456em; // 120px
        background-color: transparent;
        color: $color-text-sub-panel;
        font: {
          size: 2.17rem; // 34.72px
          weight: 400;
        }
        span {
          position: relative;
          &::before {
            @include pseudo-before;
            left: 0;
            bottom: -0.432em; // 15px
            width: 100%;
            height: 100%;
            border-bottom: 1px solid $color-text-sub-panel;
          }
        }
      }
    }
  }

  .close {
    position: absolute;
    top: 1.875em; // 30px
    right: 3.625em; // 58px
    z-index: 9;
    i {
      color: $color-gray;
      font-size: 6.25rem; // 100px
    }
  }
}

// guide
#guide-panel {
  &.bottom-sheet {
    &::before {
      content: none;
      display: none;
    }
  }
}
.bottom-sheet {
  &-guide {
    @include bottom-sheet-container;
    box-shadow: 0 -40px 50px 10px rgba(30, 44, 126, 0.6);

    .contents-area {
      @include flex-grow;
    }

    .how-to {
      > li {
        position: relative;
        padding: {
          left: 4.688em; // 75px
          bottom: 3.125em; // 50px
        }
        &::before {
          @include pseudo-before;
          @include en;
          $size: 2.16em; // 60px;
          content: '01';
          top: 0;
          left: 0;
          width: $size;
          height: 1.7em;
          padding-top: 0.46em;
          border-radius: $radius-small;
          background-color: $color-gray;
          color: #f2f5ff;
          font: {
            size: 1.736rem; // 27.776px
            weight: 700;
          }
          text-align: center;
        }

        &:nth-child(2)::before {
          content: '02';
        }
        &:nth-child(3)::before {
          content: '03';
        }
        &:nth-child(4)::before {
          content: '04';
        }

        h3 {
          padding-bottom: 0.309em; // 15px
          color: #353f8b;
          font-size: 3.038rem; // 48.608px
          + span {
            color: $color-blue-gray;
            font-size: 1.736rem; // 27.776px
          }

          .info-install {
            padding-left: 0.48em; // 10px
            color: #353a5a;
            font: {
              size: 1.302rem; // 20.832px
              weight: 400;
            }
            i {
              color: $color-tertiary;
            }
          }
        }
      }

      .qr-install {
        $size: 7.5em; // 120px
        margin-top: 1.563em; // 25px
        img {
          width: $size;
          height: $size;
        }
        .description {
          display: inline-flex;
          align-items: center;
          padding-left: 0.823em; // 20px
          color: $color-blue-gray;
          font: {
            size: 1.519rem; // 24.304px
            weight: 700;
          }
          vertical-align: top;

          i {
            padding-right: 0.222em; // 5px
            font-size: 0.929em; // 22.568px
          }
        }
      }
    }

    .safety-check-order {
      margin-top: 0.938em; // 15px

      li {
        + li {
          padding-top: 2em; // 32px
        }
        h4 {
          $space-v: 0.411em; // 15px
          $space-h: 0.878em; // 32px
          display: inline-block;
          padding: {
            top: $space-v;
            bottom: $space-v;
            left: $space-h;
            right: $space-h;
          }
          border: {
            width: 1px;
            style: solid;
            color: #dddddd;
            radius: $radius-round;
          }
          background-color: #f6f6f6;
          color: #3c84f1;
          font-size: 2.279rem; // 36.456px
          + span {
            display: block;
            padding: {
              top: 0.617em; // 15px
              left: 0.329em; // 8px
            }
            color: $color-blue-gray;
            font-size: 1.519rem; // 24.304px
          }
        }
      }
    }
  }

  // direct-fill-out
  &-direct {
    @include bottom-sheet-container;

    .direct-input-box {
      width: 100%;
      padding-bottom: 8.75em; // 140px
    }

    .direct-input {
      li {
        display: flex;
        flex-direction: column;
        &:not(:first-child) {
          margin-top: 5em; // 80px
        }
      }
      label {
        $space: 0.32em; // 10px
        padding: {
          top: $space;
          bottom: $space;
        }
        color: $color-primary;
        font: {
          size: 1.953rem; // 31.248px
          weight: 700;
        }
      }
    }
    .terms-agree-box {
      @include flex-between;
      padding-top: 4.063em; // 65px
    }
  }

  // terms-agree, privacy-policy
  &-terms-agree,
  &-privacy-policy {
    @include bottom-sheet-container;
    background-color: $color-bg;
    .contents-area {
      @include flex-grow;
      $inner-space: 1.25rem; // 20px
      border-radius: $radius-default;
      margin: {
        top: 5rem; // 100px
        bottom: 3.125rem; // 50px
      }
      padding: {
        top: $inner-space;
        bottom: $inner-space;
        left: 0;
        right: $inner-space;
      }
      color: #898da0;
      font-size: 1.953rem; // 31.248px
      line-height: 1.4;
    }
  }

  &-privacy-policy {
    li {
      + li {
        margin-top: 2.5em; // 40px
      }
      h3 {
        color: $color-dark-gray;
        font-size: 2.17rem; // 34.72px
      }
      div {
        padding-top: 0.64em; // 20px
      }
    }
    .notice {
      padding-top: 3.2em; // 100px
      color: $color-primary;
    }
  }
}
