section {
  @include flex-column;
  height: calc(100vh - #{$header-height});
  margin-top: $header-height; // 8em 128px
  padding: $global-space;
  overflow: overlay;
  &.step-section {
    padding-top: 3.125rem; // 50px;;
  }
}

// section exception
.main section {
  height: 100vh;
  margin-top: 0;
  padding: {
    top: $header-height; // 8em 128px
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// title-area
.title-area {
  padding-top: 1.44em; // 40px
  color: $color-text-sub;
  font-size: 1.736rem; // 27.776px

  .title {
    @include flex-between;
  }

  .title-description {
    padding-top: 0.36em; // 10px
    line-height: 1.4;
  }

  h3 {
    padding-top: 0.473em; // 23px
    color: $color-text-title-sub;
    font: {
      size: 3.038rem; // 48.608px
      weight: 400;
    }
    .user-name {
      font-weight: 700;
    }
  }

  strong {
    color: $color-primary-deep;
  }
}

h2 {
  color: $color-primary-deep;
  font: {
    size: 4.774rem; // 76.384px
    weight: 700;
  }
}

.complete-timer {
  display: inline-block;
  padding-top: 0.432em; // 12px
  .timer-num {
    @include en;
    display: inline-block;
    width: 1.44em; // 40px
    color: $color-important;
    font-weight: 700;
  }
  .timer-bar {
    margin-top: 0.288em; // 8px
  }
}

// contents-area
.contents-area {
  position: relative;
  padding-top: 4.375em; // 70px;

  .image-wrap {
    position: relative;
    text-align: center;

    &.kiosk {
      &::before {
        @include pseudo-before;
        // $size: 37.5em; // 600px
        top: -6.15%;
        left: 24.3%;
        width: 60%;
        height: 60%;
        background: radial-gradient(#c70d0d80 0%, transparent 30%);
        clip-path: polygon(50% 50%, 100% 45%, 100% 55%);
        opacity: 0.2;
        animation: light 2s linear infinite;
      }

      &::after {
        @include pseudo-before;
        $size: 1.76%; // 16px
        top: calc(23.87% - (#{$size} / 2));
        left: calc(54.08% - (#{$size} / 2));
        width: $size;
        height: $size;
        border-radius: $radius-round;
        background-color: #c70d0d;
        opacity: 0;
        box-shadow: 0 0 10px #c70d0d, 0 0 20px #c70d0d, 0 0 30px #c70d0d,
          0 0 40px #c70d0d, 0 0 50px #c70d0d, 0 0 60px #c70d0d, 0 0 70px #c70d0d,
          0 0 80px #c70d0d;
        animation: lightGlow 1s linear infinite;
      }
    }
  }

  .refresh-button {
    position: absolute;
    top: 0;
    right: 0;
    .btn {
      $space-h: 1.08em; // 30px
      height: 2.16em; // 60px
      padding: {
        left: $space-h;
        right: $space-h;
      }
      background-color: #656985;
    }
  }
}

// step-area
.step-area {
  width: 100%;
  // min-height: 10rem; // 160px
  padding-bottom: 2em; // 32px
  ol {
    @include flex-between;
    align-items: stretch;
    height: 100%;

    li {
      $size: 10rem; // 160px
      $inner-space: 0.686em; // 15px
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      // width: 8.563rem; // 137px
      width: 100%;
      max-width: $size;
      min-height: $size;
      padding: {
        top: 4.114em; // 80px
        right: $inner-space;
        bottom: $inner-space;
        left: $inner-space;
      }
      border: {
        width: 1px;
        style: solid;
        color: #d6d8dc;
        radius: $radius-default;
      }
      background-color: #e9edf4;
      color: #b3b5cf;
      font: {
        size: 1.367rem; // 21.874px
        weight: 700;
      }
      text-align: center;

      &:not(:first-child) {
        margin-left: 0.914em; // 20px
      }

      &::before {
        @include pseudo-before;
        @include en;
        content: '1';
        top: 0;
        left: 0;
        width: 100%;
        // height: 1.7em;
        padding-top: 0.234em; // 13px
        color: #caccd8;
        font: {
          size: 3.472rem; // 55.552px
          weight: 700;
        }
      }

      &:nth-child(2)::before {
        content: '2';
      }
      &:nth-child(3)::before {
        content: '3';
      }
      &:nth-child(4)::before {
        content: '4';
      }
      &:nth-child(5)::before {
        content: '5';
      }
      &:nth-child(6)::before {
        content: '6';
      }

      &.active {
        border-color: transparent;
        background-color: $color-text-title-sub;
        box-shadow: 0 20px 30px 0 rgba(#96a2ed, 0.6);
        color: #f1f4f9;
        &::before {
          color: $color-white;
        }
      }
      &.finished {
        border-color: transparent;
        background-color: $color-primary;
        color: #818dce;
        &::before {
          color: #4a5cdc;
        }
      }
    }
  }
}

// information-area
.information-area {
  @include flex-between;
  padding-top: 2.188em; // 35px

  .user-photo {
    @include photo-outline;
    $size: 11.25rem; // 180px
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    margin-right: 2.188em; // 35px
    border-radius: $radius-round;
    background-color: #e6e9f0;
    img {
      @include photo-image;
    }
  }

  .information {
    @include flex-grow;
    li {
      $space-v: 1.25em; // 20px
      display: flex;
      align-items: center;
      padding: {
        top: $space-v;
        bottom: $space-v;
      }
      font-weight: 700;
      + li {
        border-top: 1px solid #d2d6dd;
      }
      label {
        display: inline-block;
        min-width: 4.115em; // 100px
        color: $color-gray;
        font-size: 1.519rem; // 24.304px
      }
      span {
        color: $color-text-title-sub;
        font-size: 1.953rem; // 31.248px
      }
    }
  }

  h3 {
    padding-top: 0.473em; // 23px
    color: $color-text-title-sub;
    font: {
      size: 3.038rem; // 48.608px
      weight: 400;
    }
    .user-name {
      font-weight: 700;
    }
  }
}

// photo - user-verify
.photo-box {
  $size: 32.5em; // 520px
  width: 100%;
  max-width: $size; // 28.125em; 450px
  height: $size; // 520px
  border-radius: $radius-default;
  background-color: #e9edf4;
  img {
    @include photo-image;
  }
}

.photos-wrap {
  @include flex-between;
  align-items: stretch;

  > div {
    @include flex-column-center;
    width: 100%;
    &:not(:first-child) {
      margin-left: 1.25em; // 20px
    }
  }
  .description {
    @include flex-column-center;
    span {
      // height: 2.469em; // 60px
      margin-top: 0.823em; // 20px
      padding: {
        top: 0.638em; // 15px
        bottom: 0.638em;
        left: 1.029em; // 25px
        right: 1.029em;
      }
      border-radius: $radius-round;
      background-color: #898da0;
      color: #f1f4f9;
      font-size: 1.519rem; // 24.304px
    }
  }
}

.photo-last {
  .photo-box {
    @include photo-outline;
  }
}
.photo-shoot,
.safety-check {
  .photo-box {
    position: relative;
    &::before {
      @include pseudo-before;
      @include photo-outline;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
    }
  }
  .description {
    span {
      background-color: $color-primary;
      font-weight: 700;
    }
  }
}

// safety-check
.safety-check {
  @include flex-center;
  position: relative;

  .photo-box {
    width: 100%;
    min-width: 57.5em; // 920px
    max-width: 57.5em; // 920px
    // max-width: 81.25em; // 1300px
    height: 100%;
    min-height: 72.5em; // 1160px
    max-height: 72.5em; // 1160px
    // max-height: 93.75em; // 1500px

    &::before {
      background-image: image-path('ico-safety-outline.png');
    }

    &::after {
      @include pseudo-before;
      width: 100%;
      height: 0.313rem; // 5px
      background: linear-gradient(
        to right,
        rgba(#eceff8, 0.4) 0.6%,
        rgba(#eceff8, 1),
        rgba(#eceff8, 0.4) 99.4%
      );
      opacity: 0.8;
      box-shadow: 0px 0 50px 50px rgba($color-white, 0.3);
      top: 50%;
      animation: scan 4s linear infinite;
    }
  }

  &.gloves {
    .photo-box {
      &::before {
        background-image: image-path('ico-safety-outline-gloves.png');
      }
    }
  }

  &.finished {
    .photo-box {
      &::before {
        @include pseudo-before;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: $radius-default;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        animation: fade-in 0.3s ease forwards;
        z-index: 1;
      }
      &::after {
        content: none;
        display: none;
      }
    }
  }

  .finished-chips {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @mixin chip {
      @include icon-with('ico-safety-pass.svg', 1.296em); // 40px
      $space-v: 0.504em; // 14px
      display: inline-flex;
      align-items: center;
      padding: {
        top: $space-v;
        bottom: $space-v;
        left: 2.268em; // 63px
        right: 1.08em; // 30px
      }
      border-radius: $radius-round;
      background-color: $color-gray;
      background-position-x: 0.72em; // 20px
      color: #2b2e3d;
      font: {
        size: 1.736rem; // 27.776px
        weight: 700;
      }
      white-space: nowrap;
      z-index: 10;
      opacity: 0;
      animation: fade-in-down 0.3s ease forwards;
    }

    > div {
      @include chip;
      position: absolute;

      &.helmet {
        top: 10%;
        left: 56%;
      }

      &.mask {
        top: 28%;
        left: 60%;
      }

      &.vest {
        top: 39%;
        left: 67%;
      }

      &.gloves {
        top: 68%;
        left: 10%;
        &::before {
          $space-v: 0.504em; // 14px
          @include pseudo-before;
          @include chip;
          content: '장갑';
          top: 0;
          left: 414%;
          width: 1.81em;
          height: calc(2.207em - (#{$space-v} * 2));
        }
      }

      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.2s;
      }
      &:nth-child(4) {
        animation-delay: 0.3s;
      }
      &:nth-child(5) {
        animation-delay: 0.4s;
      }
      &:nth-child(6) {
        animation-delay: 0.5s;
      }
      &:nth-child(7) {
        animation-delay: 0.6s;
      }

      &.fail {
        color: $color-light;
        background: {
          color: $color-error;
          image: image-path('ico-safety-fail.svg');
        }
        opacity: 1;
        animation: shake-x 0.8s linear forwards;
        &.gloves {
          &::before {
            color: $color-light;
            background: {
              color: $color-error;
              image: image-path('ico-safety-fail.svg');
            }
          }
        }
      }
    }
  }
}

// breath-test-blow
.breath-test {
  svg {
    $size: 10rem; // 160px
    position: absolute;
    top: 51%;
    right: 12%;
    width: $size;
    height: $size;
    path {
      fill: none;
      stroke: #9dcced;
      stroke-width: 38;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 1000;
      opacity: 0;
      animation: blow 3s ease-in-out infinite;
    }
  }
}

// main
.main-area {
  @include flex-column;
  // min-height: 39.625em; // 634px

  .main-contents {
    @include flex-column;
    @include main-radius;
    position: relative;
    flex-grow: 1;
    background-color: $color-primary;

    &:after {
      @include pseudo-before;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: $color-primary-deep;
      z-index: -1;
    }

    .button-box {
      padding-bottom: 6.125em; // 98px
      text-align: center;
      button {
        $size: 1.56em;
        height: 2.4em; // 200px
        padding: {
          left: $size;
          right: $size;
        }
        // background-color: $color-secondary;
        background: repeating-conic-gradient(
            rgba(0, 0, 0, 0) 0.000045%,
            rgba(143, 193, 227, 0.8666666667) 0.0005%
          ),
          linear-gradient(#54abe7, #54abe7);
        background-blend-mode: soft-light;
        color: #fafdff;
        font: {
          size: 5.208em; // 83.328px
          weight: 700;
        }
        box-shadow: $box-shadow;

        span {
          padding-right: 0.192em; // 16px
          font-weight: 100;
          letter-spacing: -0.05em;
        }
      }
    }
  }

  .weather-box {
    @include flex-grow;
    display: flex;
    padding: {
      top: 3.75em; // 60px
      left: 3.75em; // 60px
      right: $global-space;
      bottom: 6.25em; // 100px
    }
    img {
      width: 9.375em; // 150px
      height: 8.125em; // 130px
    }
    .info {
      padding: {
        top: 0.938em; // 15px
        left: 0.625em; // 10px
      }
      &-date {
        @include en;
        padding-bottom: 0.36em; // 10px
        color: #94a0f4;
        font: {
          size: 1.736rem;
          weight: 500;
        }
        .date {
          padding-right: 0.288em; // 8px
        }
      }
      &-weather {
        color: #d1d5f2;
        font: {
          size: 1.953rem;
          weight: 700;
        }
        .location,
        .celsius-mark {
          padding-right: 0.32em; // 10px
        }
        .degree,
        .celsius-mark {
          font: {
            size: 2.17rem;
            weight: 600;
          }
        }
      }
    }
  }

  .guide-contents {
    @include main-radius;
    height: 10rem; // 160px
    background-color: $color-primary-deep;

    button {
      @include flex-center;
      color: #798af2;
      font: {
        size: 2.604rem; // 41.664px
        weight: 700;
      }
      .click {
        @include en;
        position: relative;
        height: 1.8em; // 50px
        margin-left: 1.008em; // 28px
        padding: {
          left: 1.08em; // 30px
          right: 3.168em; // 88px
        }
        background-color: $color-yellow;
        color: $color-primary-deep;
        font: {
          size: 1.736rem; // 27.776px
          weight: 500;
        }

        &:before {
          @include pseudo-before;
          @include icon('ico-tap.png', 2.232em);
          right: 0.648em; // 18px
          top: 0.108em; // 3px
          transform: rotate(-30deg);
        }
      }
    }
  }
}

.news-area {
  @include flex-grow;
  padding: $global-space;
}
// /main
