section {
  @include flex-column;
  height: calc(100vh - #{$header-height});
  margin-top: $header-height; // 8em 128px
  padding: $global-space;
  overflow: overlay;
  &.step-section {
    padding-top: 3.125rem; // 50px;;
  }
  &.splash {
    height: 100vh;
    margin-top: 0;
  }

  // button-area
  // page에서 하단 버튼은 QR코드 발급 page 밖에 없음
  .button-area {
    display: flex;
    flex-direction: column;
    padding-top: 6.25em; // 100px
    .btn {
      height: 2.88em; // 120px
      background-color: $color-primary;
      color: #f3f6fe;
      font-size: 2.604rem; // 41.664px

      &:hover,
      &:focus,
      &:visited {
        background-color: $color-primary-deep;
      }
    }
  }
}

// section exception
.main section {
  height: 100vh;
  margin-top: 0;
  padding: {
    top: $header-height; // 8em 128px
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// title-area
.title-area {
  padding-top: 1.44em; // 40px
  color: $color-text-sub;
  font-size: 1.736rem; // 27.776px

  .title {
    @include flex-between;
  }

  .title-description {
    padding-top: 0.36em; // 10px
    line-height: 1.4;
  }

  h3 {
    padding-top: 0.473em; // 23px
    color: $color-text-title-sub;
    font-size: 3.038rem; // 48.608px
    .user-hi {
      font-weight: 400;
    }
  }

  strong {
    color: $color-primary-deep;
  }

  .sub-title-description {
    padding-top: 0.617em; // 18px
    font: {
      size: 1.519rem; // 24.304px
      weight: 500;
    }
    line-height: 1.6;

    strong {
      @include text-highlight;
      font-weight: inherit;
    }
  }
}

h2 {
  color: $color-primary-deep;
  font: {
    size: 4.774rem; // 76.384px
    weight: 700;
  }
}

.complete-timer {
  display: inline-block;
  padding-top: 0.432em; // 12px
  .timer-num {
    @include en;
    display: inline-block;
    width: 1.44em; // 40px
    color: $color-important;
    font-weight: 700;
  }
  .timer-bar {
    margin-top: 0.288em; // 8px
  }

  // 혈압 측정은 측정 여부 먼저 묻고 진행돼서 id로 추가
  &#complete-timer {
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}

// contents-area
.contents-area {
  position: relative;
  padding-top: 4.375em; // 70px;

  .image-wrap {
    position: relative;
    text-align: center;

    &.kiosk {
      &::before {
        @include pseudo-before;
        // $size: 37.5em; // 600px
        top: -6.15%;
        left: 24.3%;
        width: 60%;
        height: 60%;
        background: radial-gradient(#c70d0d80 0%, transparent 30%);
        clip-path: polygon(50% 50%, 100% 45%, 100% 55%);
        opacity: 0.2;
        animation: light 2s linear infinite;
      }

      &::after {
        @include pseudo-before;
        $size: 1.76%; // 16px
        top: calc(23.87% - (#{$size} / 2));
        left: calc(54.08% - (#{$size} / 2));
        width: $size;
        height: $size;
        border-radius: $radius-round;
        background-color: #c70d0d;
        opacity: 0;
        box-shadow: 0 0 10px #c70d0d, 0 0 20px #c70d0d, 0 0 30px #c70d0d,
          0 0 40px #c70d0d, 0 0 50px #c70d0d, 0 0 60px #c70d0d, 0 0 70px #c70d0d,
          0 0 80px #c70d0d;
        animation: light-glow 1s linear infinite;
      }

      &.temperature {
        &::before {
          width: 100%;
          top: 30%;
          left: 3%;
          clip-path: polygon(50% 50%, 100% 48%, 100% 52%);
          opacity: 1;
          animation: light-line 2s linear infinite;
        }
        &::after {
          $size: 2%;
          top: calc(60% - (#{$size} / 2));
          left: calc(53% - (#{$size} / 2));
        }
      }
    }
  }

  .refresh-button {
    position: absolute;
    top: 0;
    right: 0;
    .btn {
      $space-h: 1.08em; // 30px
      height: 2.16em; // 60px
      padding: {
        left: $space-h;
        right: $space-h;
      }
      background-color: #656985;
    }
  }
}

// step-area
.step-area {
  width: 100%;
  // min-height: 10rem; // 160px
  padding-bottom: 2em; // 32px
  ol {
    @include flex-between;
    align-items: stretch;
    height: 100%;

    li {
      $size: 10rem; // 160px
      $inner-space: 0.686em; // 15px
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      // width: 8.563rem; // 137px
      width: 100%;
      max-width: $size;
      min-height: $size;
      padding: {
        top: 4.114em; // 80px
        right: $inner-space;
        bottom: $inner-space;
        left: $inner-space;
      }
      border: {
        width: 1px;
        style: solid;
        color: #d6d8dc;
        radius: $radius-default;
      }
      background-color: #e9edf4;
      color: #b3b5cf;
      font: {
        size: 1.367rem; // 21.874px
        weight: 700;
      }
      text-align: center;

      &:not(:first-child) {
        margin-left: 0.914em; // 20px
      }

      &::before {
        @include pseudo-before;
        @include en;
        content: '1';
        top: 0;
        left: 0;
        width: 100%;
        // height: 1.7em;
        padding-top: 0.234em; // 13px
        color: #caccd8;
        font: {
          size: 3.472rem; // 55.552px
          weight: 700;
        }
      }

      &:nth-child(2)::before {
        content: '2';
      }
      &:nth-child(3)::before {
        content: '3';
      }
      &:nth-child(4)::before {
        content: '4';
      }
      &:nth-child(5)::before {
        content: '5';
      }
      &:nth-child(6)::before {
        content: '6';
      }

      &.active {
        border-color: transparent;
        background-color: $color-text-title-sub;
        box-shadow: 0 20px 30px 0 rgba(#96a2ed, 0.6);
        color: #f1f4f9;
        &::before {
          color: $color-white;
        }
      }
      &.finished {
        border-color: transparent;
        background-color: $color-primary;
        color: #818dce;
        &::before {
          color: #4a5cdc;
        }
      }
    }
  }
}

// information-area
.information-area {
  @include flex-between;
  padding-top: 2.188em; // 35px
  $size: 11.25rem; // 180px
  $photo-space-right: 2.188rem; // 35px

  .user-photo {
    @include photo-outline;
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    margin-right: $photo-space-right;
    border-radius: $radius-round;
    background-color: #e6e9f0;
    img {
      @include photo-image;
    }
  }

  .information {
    @include flex-grow;
    width: calc(100% - (#{$size} + #{$photo-space-right}));
    li {
      $space-v: 1.25em; // 20px
      display: flex;
      align-items: center;
      padding: {
        top: $space-v;
        bottom: $space-v;
      }
      font-weight: 700;
      + li {
        border-top: 1px solid #d2d6dd;
      }
      label {
        display: inline-block;
        min-width: 4.115em; // 100px
        color: $color-gray;
        font-size: 1.519rem; // 24.304px
      }
      span {
        @include ellipsis;
        color: $color-text-title-sub;
        font-size: 1.953rem; // 31.248px
      }
    }
  }
}

// photo - user-verify
.photo-box {
  $size: 32.5em; // 520px
  width: 100%;
  max-width: $size; // 28.125em; 450px
  height: $size; // 520px
  border-radius: $radius-default;
  background-color: #e9edf4;
  img,
  canvas,
  video {
    @include photo-image;
  }
}

.photos-wrap {
  @include flex-between;
  align-items: stretch;

  > div {
    @include flex-column-center;
    width: 100%;
    &:not(:first-child) {
      margin-left: 1.25em; // 20px
    }
  }
  .description {
    @include flex-column-center;
    span {
      // height: 2.469em; // 60px
      margin-top: 0.823em; // 20px
      padding: {
        top: 0.638em; // 15px
        bottom: 0.638em;
        left: 1.029em; // 25px
        right: 1.029em;
      }
      border-radius: $radius-round;
      background-color: #898da0;
      color: #f1f4f9;
      font-size: 1.519rem; // 24.304px
    }
  }
}

.photo-last {
  .photo-box {
    @include photo-outline;
  }
}
.photo-shoot,
.safety-check {
  .photo-box {
    position: relative;
    &::before {
      @include pseudo-before;
      @include photo-outline;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
    }
  }
  .description {
    span {
      background-color: $color-primary;
      font-weight: 700;
    }
  }
}

// safety-check
.safety-check {
  @include flex-center;
  position: relative;

  .photo-box {
    width: 100%;
    min-width: 57.5em; // 920px
    max-width: 57.5em; // 920px
    // max-width: 81.25em; // 1300px
    height: 100%;
    min-height: 72.5em; // 1160px
    max-height: 72.5em; // 1160px
    // max-height: 93.75em; // 1500px

    &::before {
      background-image: image-path('ico-safety-outline.png');
    }

    &::after {
      @include pseudo-before;
      $line-color: #f3f4fa;
      width: 100%;
      height: 40%;
      border: {
        width: 4px 0 0 0;
        style: solid;
        image: linear-gradient(
          to right,
          rgba($line-color, 0.5) 0%,
          rgba($line-color, 1) 10%,
          rgba($line-color, 1) 90%,
          rgba($line-color, 0.5) 100%
        );
        image-slice: 1;
      }
      background: linear-gradient(
        to bottom,
        rgba($color-white, 0.5) 0%,
        rgba($color-white, 0.3) 30%,
        rgba($color-white, 0) 80%
      );
      opacity: 1;
      box-sizing: border-box;
      top: 50%;
      animation: scan 4s linear infinite 3s;
      z-index: 99;
    }
  }

  &.gloves {
    .photo-box {
      &::before {
        background-image: image-path('ico-safety-outline-gloves.png');
      }
    }
  }

  &.finished {
    .photo-box {
      &::before {
        @include pseudo-before;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: $radius-default;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        animation: fade-in 0.3s ease forwards;
        z-index: 1;
      }
      &::after {
        content: none;
        display: none;
      }
    }
  }

  .finished-chips {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @mixin chip {
      @include icon-with('ico-safety-pass.svg', 1.296em); // 40px
      $space-v: 0.504em; // 14px
      display: inline-flex;
      align-items: center;
      padding: {
        top: $space-v;
        bottom: $space-v;
        left: 2.268em; // 63px
        right: 1.08em; // 30px
      }
      border-radius: $radius-round;
      background-color: $color-gray;
      background-position-x: 0.72em; // 20px
      color: #2b2e3d;
      font: {
        size: 1.736rem; // 27.776px
        weight: 700;
      }
      white-space: nowrap;
      z-index: 10;
      opacity: 0;
      animation: fade-in-down 0.3s ease forwards;
    }

    > li {
      @include chip;
      position: absolute;

      &.helmet {
        top: 10%;
        left: 56%;
      }

      &.mask {
        top: 28%;
        left: 60%;
      }

      &.vest {
        top: 39%;
        left: 67%;
      }

      &.glove-left,
      &.glove-right {
        top: 68%;
      }
      &.glove-left {
        left: 10%;
      }
      &.glove-right {
        right: 10%;
      }

      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.2s;
      }
      &:nth-child(4) {
        animation-delay: 0.3s;
      }
      &:nth-child(5) {
        animation-delay: 0.4s;
      }
      &:nth-child(6) {
        animation-delay: 0.5s;
      }
      &:nth-child(7) {
        animation-delay: 0.6s;
      }

      &.fail {
        color: $color-light;
        background: {
          color: $color-error;
          image: image-path('ico-safety-fail.svg');
        }
        opacity: 1;
        animation: shake-x 0.8s linear forwards;
        &.gloves {
          &::before {
            color: $color-light;
            background: {
              color: $color-error;
              image: image-path('ico-safety-fail.svg');
            }
          }
        }
      }
    }
  }
}

// breath-test-blow
.breath-test {
  svg {
    position: absolute;
    top: 50%;
    right: 12%;
    width: 10rem;
    height: 10.625rem;
    path {
      fill: none;
      stroke: #9dcced;
      stroke-width: 38;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 200;
      stroke-dashoffset: 1000;
      opacity: 0;
      animation: blow 3s ease-in-out infinite;
    }
  }
}

// blood-heart
.blood-heart {
  position: absolute;
  top: 24.3%;
  right: 25.4%;
  width: 5.5%;
  height: 5.7%;
  animation: heart 1s infinite;
  &::before,
  &::after {
    @include pseudo-before;
    top: 0;
    left: 50%;
    width: 50%;
    height: 80%;
    background-color: #aa0000;
    border: {
      top-left-radius: $radius-round;
      top-right-radius: $radius-round;
    }
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    animation: heart-color 1s infinite;
  }

  &::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    animation: heart-color 1s infinite;
  }
}

// results
.results {
  li {
    $space-v: 0.524em; // 20px
    position: relative;
    padding: {
      top: $space-v;
      bottom: $space-v;
      left: 1.702em; // 65px
    }
    border-bottom: 1px solid #d7dde7;
    color: $color-primary-deep;
    font-size: 2.387rem; // 38.192px

    &::before {
      @include pseudo-before;
      $size: 1.204em; // 46px 38px
      top: calc(50% - (#{$size} / 2));
      left: 0.375rem; // 6px
      width: $size;
      height: $size;
      border-radius: $radius-round;
      background: {
        image: image-path('ico-result-pass.svg');
        position: 0 0;
        repeat: no-repeat;
        size: 100% auto;
      }
    }

    &::after {
      @include pseudo-before;
      $height: 2.232em; // 62px
      display: flex;
      justify-content: center;
      align-items: center;
      content: '통과';
      top: calc(50% - (#{$height} / 2));
      right: 0;
      width: 4.86em; // 135px
      height: $height;
      border-radius: $radius-round;
      background-color: #e4e5eb;
      color: #898da0;
      font: {
        size: 0.727em; // 27.776px
        weight: 700;
      }
    }

    &.fail {
      &::before {
        background: {
          image: image-path('ico-result-fail.svg');
        }
      }

      &::after {
        content: '미통과';
        color: #c70d0d;
      }
    }
  }
}

// main
.main-area {
  @include flex-column;
  // min-height: 39.625em; // 634px

  .main-contents {
    @include flex-column;
    @include main-radius;
    position: relative;
    flex-grow: 1;
    background-color: $color-primary;

    &:after {
      @include pseudo-before;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: $color-primary-deep;
      z-index: -1;
    }

    .button-box {
      padding-bottom: 6.125em; // 98px
      text-align: center;
      &-inner-wrap {
        position: relative;
        display: inline-block;
        button {
          $size: 1.56em;
          height: 2.4em; // 200px
          padding: {
            left: $size;
            right: $size;
          }
          // background-color: $color-secondary;
          background: repeating-conic-gradient(
              rgba(0, 0, 0, 0) 0.000045%,
              rgba(143, 193, 227, 0.8666666667) 0.0005%
            ),
            linear-gradient(#54abe7, #54abe7);
          background-blend-mode: soft-light;
          color: #fafdff;
          font: {
            size: 5.208em; // 83.328px
            weight: 700;
          }
          box-shadow: $box-shadow;

          span {
            padding-right: 0.192em; // 16px
            font-weight: 100;
            letter-spacing: -0.05em;
          }
        }

        .language-drop {
          @include en;
          $width: 12.5rem;
          $height: 7.5rem;
          $arrow-size: 0.75em;
          position: absolute;
          top: -4.125rem;
          right: -5.313rem;
          width: $width;
          height: $height;
          border: {
            top-left-radius: 15px;
            top-right-radius: calc(#{$height} / 2);
            bottom-left-radius: calc(#{$height} / 2);
            bottom-right-radius: calc(#{$height} / 2);
          }
          background-image: image-path('bg-language-drop.png');
          box-shadow: 0 0 50px 10px rgba(30, 44, 126, 0.5);
          text-align: left;
          transition: width 0.5s;
          will-change: width;

          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          -webkit-tap-highlight-color: transparent;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &::after,
          &::before {
            @include pseudo-before;
            top: 3em;
            right: 1.875em;
            width: $arrow-size;
            height: $arrow-size;
            border: 0.2em solid $color-primary-deep;
            transform: rotate(45deg);
            transform-origin: 50% 50%;
            transition: opacity 0.2s;
          }
          &::before {
            border: {
              left: none;
              top: none;
            }
          }
          &::after {
            top: 3.375em;
            border: {
              right: none;
              bottom: none;
            }
            opacity: 0;
          }

          .option {
            $space-v: 2.256em; // 47px
            $space-h: 1.200em; // 25px
            padding: {
              top: $space-v;
              bottom: $space-v;
              left: $space-h;
              right: $space-h;
            }
            color: $color-primary-deep;
            font: {
              size: 1.302rem; // 20.832px
              weight: 600;
            }
            cursor: pointer;

            &:not(.active) {
              display: none;
              opacity: 0;
              transform: translateY(-50%);
            }
            &:not(.placeholder) {
              @include icon-with('ico-lang-ko.png', 2.000rem);
              background-position-x: $space-h;
              padding-left: 3.120em; // 65px
            }
            &.en {
              background-image: image-path('ico-lang-en.png');
            }
          }

          &.visible {
            // width: 24rem;
            height: 17.5rem;

            &::before,
            &::after {
              border-color: $color-white;
            }
            &::before {
              opacity: 0;
            }
            &::after {
              opacity: 1;
            }

            .option {
              display: block;
              transform: translateZ(0);
              opacity: 1;

              &.placeholder {
                color: $color-white;
              }

              &:not(.placeholder) {
                $space-v: 0.720em; // 15px
                padding: {
                  top: $space-v;
                  bottom: $space-v;
                }
                color: $color-primary;
              }
            }
          }

          &.selected {
            .option {
              transition: background-color 0.6s;

              &:not(.placeholder).active {
                background-color: rgba($color-primary, 0.2);
              }
            }
          }
        }
      }
    }
  }

  .weather-box {
    @include flex-grow;
    display: flex;
    padding: {
      top: 3.75em; // 60px
      left: 3.75em; // 60px
      right: $global-space;
      bottom: 6.25em; // 100px
    }
    img {
      width: 9.375em; // 150px
      height: 8.125em; // 130px
    }
    .info {
      padding: {
        top: 0.938em; // 15px
        left: 0.625em; // 10px
      }
      &-date {
        @include en;
        padding-bottom: 0.36em; // 10px
        color: #94a0f4;
        font: {
          size: 1.736rem;
          weight: 500;
        }
        .date {
          padding-right: 0.288em; // 8px
        }
      }
      &-weather {
        color: #d1d5f2;
        font: {
          size: 1.953rem;
          weight: 700;
        }
        .location,
        .celsius-mark {
          padding-right: 0.32em; // 10px
        }
        .degree,
        .celsius-mark {
          font: {
            size: 2.17rem;
            weight: 600;
          }
        }
      }
    }
  }

  .guide-contents {
    @include main-radius;
    height: 10rem; // 160px
    background-color: $color-primary-deep;

    button {
      @include flex-center;
      color: #798af2;
      font: {
        size: 2.604rem; // 41.664px
        weight: 700;
      }
      .click {
        @include en;
        position: relative;
        height: 1.8em; // 50px
        margin-left: 1.008em; // 28px
        padding: {
          left: 1.08em; // 30px
          right: 3.168em; // 88px
        }
        background-color: $color-yellow;
        color: $color-primary-deep;
        font: {
          size: 1.736rem; // 27.776px
          weight: 500;
        }

        &:before {
          @include pseudo-before;
          @include icon('ico-tap.png', 2.232em);
          right: 0.648em; // 18px
          top: 0.108em; // 3px
          transform: rotate(-30deg);
        }
      }
    }
  }
}

.news-area {
  @include flex-grow;
  padding: $global-space;
}
// /main

// splash
.splash {
  background-color: $color-primary;
  text-align: center;
  cursor: default;

  .logo-area {
    padding-top: 12.5em; // 200px
  }
  .logo-symbol-area {
    $space-h: 8.125em; // 130px
    padding: {
      top: 3.125em; // 50px
      right: $space-h;
      left: $space-h;
    }

    .logo-symbol-box {
      position: relative;

      &::before {
        @include pseudo-before;
        $line-color: #f3f4fa;
        width: 100%;
        height: 40%;
        border: {
          width: 4px 0 0 0;
          style: solid;
          image: linear-gradient(
            to right,
            rgba($line-color, 0.5) 0%,
            rgba($line-color, 1) 10%,
            rgba($line-color, 1) 90%,
            rgba($line-color, 0.5) 100%
          );
          image-slice: 1;
        }
        background: linear-gradient(
          to bottom,
          rgba($color-white, 0.5) 0%,
          rgba($color-white, 0.3) 30%,
          rgba($color-white, 0) 80%
        );
        opacity: 1;
        box-sizing: border-box;
        top: 50%;
        animation: scan-symbol 3.2s linear infinite 1s;
        z-index: 99;
      }
    }
  }

  &.paused {
    .logo-symbol-area {
      .logo-symbol-box {
        &::before {
          animation-play-state: paused;
        }
      }
    }
  }

  h1 {
    color: #f3f6fe;
    font: {
      size: 5.208rem; // 83.328px
      weight: 600;
    }
    letter-spacing: 0.03em;
    span {
      @include en;
      padding-right: 0.247em;
      color: #7c9bfe;
      font-weight: 300;
    }
  }

  h2 {
    color: #7789c2;
    font: {
      size: 1.519rem; // 24.304px
      weight: 300;
    }
    line-height: 0.8;
    letter-spacing: 0.03em;
    span {
      position: relative;
      padding-right: 5.143em; // 125px

      &::before {
        @include pseudo-before;
        $line: 0.063rem; // 1px
        $pos-left: 2.921em; // 71px
        $pos-right: 0.329em; // 8px
        top: calc(50% - (#{$line} / 2));
        left: $pos-left;
        right: $pos-right;
        width: calc(100% - (#{$pos-left} + #{$pos-right}));
        height: $line;
        background-color: #7789c2;
      }
    }
  }
}
