section {
  @include flex-column;
  height: calc(100vh - #{$header-height});
  margin-top: $header-height; // 8em 128px
  padding: $global-space;
  overflow: overlay;
}

// section exception
.main section {
  height: 100vh;
  margin-top: 0;
  padding: {
    top: $header-height; // 8em 128px
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// title-area
.title-area {
  padding-top: 1.44em; // 40px
  color: $color-text-sub;
  font-size: 1.736rem; // 27.776px

  .title {
    @include flex-between;
  }

  .title-description {
    padding-top: 0.36em; // 10px
    line-height: 1.4;
  }

  h3 {
    padding-top: 0.473em; // 23px
    color: $color-text-title-sub;
    font: {
      size: 3.038rem; // 48.608px
      weight: 400;
    }
    .user-name {
      font-weight: 700;
    }
  }
}

h2 {
  color: $color-primary-deep;
  font: {
    size: 4.774rem; // 76.384px
    weight: 700;
  }
}

.complete-timer {
  display: inline-block;
  padding-top: 0.432em; // 12px
  .timer-num {
    @include en;
    display: inline-block;
    width: 1.44em; // 40px
    color: $color-important;
    font-weight: 700;
  }
  .timer-bar {
    margin-top: 0.288em; // 8px
  }
}

// contents-area
.contents-area {
  padding-top: 4.375em; // 70px;

  .image-wrap {
    position: relative;
    text-align: center;

    &::before {
      @include pseudo-before;
      $size: 37.5rem; // 500px
      top: -8.6%;
      left: 21.6%;
      width: $size;
      height: $size;
      background: radial-gradient(#c70d0d80 0%, transparent 30%);
      clip-path: polygon(50% 50%, 100% 45%, 100% 55%);
      opacity: 0.2;
      animation: light 2s linear infinite;
    }

    &::after {
      @include pseudo-before;
      $size: 1rem; // 16px
      top: calc(23.9% - (#{$size} / 2));
      left: calc(54.15% - (#{$size} / 2));
      width: $size;
      height: $size;
      border-radius: $radius-round;
      background-color: #c70d0d;
      opacity: 0;
      box-shadow: 0 0 10px #c70d0d, 0 0 20px #c70d0d, 0 0 30px #c70d0d,
        0 0 40px #c70d0d, 0 0 50px #c70d0d, 0 0 60px #c70d0d, 0 0 70px #c70d0d,
        0 0 80px #c70d0d;
      animation: lightGlow 1s linear infinite;
    }
  }
}

// step-area
.step-area {
  min-height: 10rem; // 160px
  ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      // width: 8.563rem; // 137px
      width: 100%;
      height: 100%;
      padding: 0.823em;
      padding-top: 5em;
      border: {
        width: 1px;
        style: solid;
        color: #d6d8dc;
        radius: $radius-default;
      }
      background-color: #e9edf4;
      color: #b3b5cf;
      font: {
        size: 1.367rem; // 21.874px
        weight: 700;
      }
      text-align: center;

      &:not(:first-child) {
        margin-left: 0.914em; // 20px
      }

      &::before {
        @include pseudo-before;
        @include en;
        content: '01';
        top: 0;
        left: 0;
        width: 100%;
        height: 1.7em;
        padding-top: 0.46em;
        color: #caccd8;
        font: {
          size: 3.472rem; // 55.552px
          weight: 700;
        }
      }

      &:nth-child(2)::before {
        content: '02';
      }
      &:nth-child(3)::before {
        content: '03';
      }
      &:nth-child(4)::before {
        content: '04';
      }
      &:nth-child(5)::before {
        content: '05';
      }
      &:nth-child(6)::before {
        content: '06';
      }
    }
  }
}

// table
table {
  position: relative;

  &::before {
    @include pseudo-before;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid $color-primary-deep;
    z-index: 1;
  }

  thead {
    th {
      padding: 1.375rem 1.125rem; // 22px 18px
      border: {
        top: 3px solid $color-primary-deep;
        bottom: 2px solid $color-primary-deep;
      }
      background-color: #e7eaef;
      color: $color-primary-deep;
      font-size: 1.736rem; // 27.776px
      text-align: left;
    }
  }

  tbody {
    background-color: #f4f6fa;
    tr {
      &:hover td {
        background: rgba(0, 0, 255, 0.03);
      }
      &.selected td {
        background: rgba(0, 0, 255, 0.07);
      }
      cursor: pointer;
    }

    th,
    td {
      $space-h: 1.125rem; // 18px
      $space-v: 1.563rem; // 25px
      height: 7.063rem; // 113px
      padding: {
        top: $space-v;
        bottom: $space-v;
        left: $space-h;
        right: $space-h;
      }
      border-bottom: 1px solid #cbd0dc;
      color: #555f78;
      font: {
        size: 1.736rem; // 27.776px
        weight: 300;
      }
      text-align: left;
      i {
        @include flex-center;
      }
    }

    .title {
      color: #253766;
      font: {
        size: 1.627rem; // 26.04px // 1.519rem // 24.304px
        weight: 500;
      }
      a {
        color: #253766;
      }
    }
  }
}

// main
.main-area {
  @include flex-column;
  // min-height: 39.625em; // 634px

  .main-contents {
    @include flex-column;
    @include main-radius;
    position: relative;
    flex-grow: 1;
    background-color: $color-primary;

    &:after {
      @include pseudo-before;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: $color-primary-deep;
      z-index: -1;
    }

    .button-box {
      padding-bottom: 6.125em; // 98px
      text-align: center;
      button {
        $size: 1.56em;
        height: 2.4em; // 200px
        padding: {
          left: $size;
          right: $size;
        }
        // background-color: $color-secondary;
        background: repeating-conic-gradient(
            rgba(0, 0, 0, 0) 0.000045%,
            rgba(143, 193, 227, 0.8666666667) 0.0005%
          ),
          linear-gradient(#54abe7, #54abe7);
        background-blend-mode: soft-light;
        color: #fafdff;
        font: {
          size: 5.208em; // 83.328px
          weight: 700;
        }
        box-shadow: $box-shadow;

        span {
          padding-right: 0.192em; // 16px
          font-weight: 100;
          letter-spacing: -0.05em;
        }
      }
    }
  }

  .weather-box {
    @include flex-grow;
    display: flex;
    padding: {
      top: 3.75em; // 60px
      left: 3.75em; // 60px
      right: $global-space;
      bottom: 6.25em; // 100px
    }
    img {
      width: 9.375em; // 150px
      height: 8.125em; // 130px
    }
    .info {
      padding: {
        top: 0.938em; // 15px
        left: 0.625em; // 10px
      }
      &-date {
        @include en;
        padding-bottom: 0.36em; // 10px
        color: #94a0f4;
        font: {
          size: 1.736rem;
          weight: 500;
        }
        .date {
          padding-right: 0.288em; // 8px
        }
      }
      &-weather {
        color: #d1d5f2;
        font: {
          size: 1.953rem;
          weight: 700;
        }
        .location,
        .celsius-mark {
          padding-right: 0.32em; // 10px
        }
        .degree,
        .celsius-mark {
          font: {
            size: 2.17rem;
            weight: 600;
          }
        }
      }
    }
  }

  .guide-contents {
    @include main-radius;
    height: 10rem; // 160px
    background-color: $color-primary-deep;

    button {
      @include flex-center;
      color: #798af2;
      font: {
        size: 2.604rem; // 41.664px
        weight: 700;
      }
      .click {
        @include en;
        position: relative;
        height: 1.8em; // 50px
        margin-left: 1.008em; // 28px
        padding: {
          left: 1.08em; // 30px
          right: 3.168em; // 88px
        }
        background-color: $color-yellow;
        color: $color-primary-deep;
        font: {
          size: 1.736rem; // 27.776px
          weight: 500;
        }

        &:before {
          @include pseudo-before;
          @include icon('ico-tap.png', 2.232em);
          right: 0.648em; // 18px
          top: 0.108em; // 3px
          transform: rotate(-30deg);
        }
      }
    }
  }
}

.news-area {
  padding: 80px;
  img {
    width: 100%;
    border-radius: $radius-default;
  }
}
// /main
