@charset 'utf-8';

@import 'reset';
@import 'common';
@import 'fonts';
@import 'header';
@import 'section';

.publishing-list {
  $header-height: 26.25em; // 420px

  header {
    flex-direction: column;
    justify-content: center;
    height: 18.75em; // 300px
    padding: 0;
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 18.75em; // 300px
      @include main-radius;
      background-color: $color-primary;

      &::before {
        @include pseudo-before;
        @include main-radius;
        top: 0;
        width: 100%;
        height: $header-height;
        background-color: $color-primary-deep;
        z-index: -1;
      }

      h2 {
        letter-spacing: 0;
        color: #3ca5ee;
        font: {
          size: 5.208rem; // 83.328px
          weight: 100;
        }
      }
    }
  }

  section {
    height: calc(100vh - #{$header-height});
    margin-top: $header-height;

    .list-group {
      + .list-group {
        padding-top: 3.75em; // 60px
      }

      h3 {
        padding-bottom: 0.563em; // 18px
        color: $color-green;
        font: {
          size: 2rem; // 32px
          weight: 700;
        }
      }
    }

    table {
      thead {
        th {
          @include en;
          text-align: center;
          &:first-child {
            text-align: left;
          }
        }
      }
      tbody {
        td {
          $space-v: 0.750rem; // 12px
          height: 3.75rem;
          padding: {
            top: $space-v;
            bottom: $space-v;
          }
          text-align: center;
          &.title {
            color: #253766;
            font: {
              size: 1.627rem;
              weight: 500;
            }
            text-align: left;
            .remark {
              font: {
                size: 1.25rem;
                weight: 400;
              }
            }
          }
          &.date {
            @include en;
            font-size: 1.519rem; // 24.304px
          }
          &.state {
            i {
              font-size: 3.75rem; // 60px
            }
            &.finished {
              color: $color-tertiary;
            }
            &.ongoing {
              color: $color-secondary;
            }
          }
        }
      }
    }
  }
}
