html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

div,
span,
article,
section,
header,
footer,
aside,
p,
ul,
li,
fieldset,
legend,
label,
a,
nav,
form {
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

button {
  cursor: pointer;
}

input,
select,
textarea,
button {
  padding: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

legend,
caption,
.skip,
.hidden {
  position: absolute;
  left: -9999px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

html,
body {
  -webkit-text-size-adjust: none;
}

html {
  word-wrap: break-word;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.en {
  letter-spacing: 0;
}

html,
body,
input,
select,
textarea,
button {
  font-size: 16px;
  font-family: "SFPro", "NotoKR", sans-serif;
  color: #6a6e83;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

body {
  height: 100vh;
  background-color: #f1f4f9;
  overflow: hidden;
}

input,
select,
button {
  line-height: 1;
}

a {
  color: #6a6e83;
  text-decoration: none;
}
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  outline-offset: 0;
}

:disabled {
  cursor: default;
}

.clear {
  zoom: 1;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.inline-group-box {
  font-size: 0;
}

.align-right {
  text-align: right;
}

.error-message {
  color: #c70d0d;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.88em;
  padding-left: 1.44em;
  padding-right: 1.44em;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 9999px;
  background-color: #c1c2cb;
  color: #f8f9fd;
  font-size: 1.736rem;
  font-weight: 500;
  line-height: 1;
  transition: all 0.4s ease;
}
.btn:hover, .btn:focus, .btn:visited {
  background-color: #74c0e8;
}
.btn.dark {
  height: 2.56em;
  padding-left: 1.344em;
  padding-right: 1.344em;
  background-color: #656985;
  color: #eaecf8;
  font-size: 1.953rem;
}
.btn.dark:hover, .btn.dark:focus, .btn.dark:visited {
  background-color: #54abe7;
}
.btn.outline {
  border-color: #e4e4ea;
  background-color: #fff;
  color: #111;
}
.btn.outline:hover {
  border-color: #111;
}
.btn.outline:disabled {
  border-color: #e4e4ea;
  background-color: #eeeeef;
  color: #cccccf;
}
.btn.primary {
  height: 4rem;
  line-height: 4rem;
  background-color: #3645b1;
  font-size: 1.071rem;
}
.btn:disabled {
  background-color: #e1e1e4;
  color: #fff;
}
.btn.radio-toggle {
  padding-left: 1.3em;
  padding-right: 1.3em;
  border-color: #e4e4ea;
  background-color: #f2f2f3;
  color: #111;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn.checkbox-btn {
  justify-content: flex-start;
  width: 8.571rem;
  height: 2.714rem;
  padding-left: 1.429em;
  padding-right: 2em;
  border-width: 0;
  border-radius: 9999px;
  background-color: #eeeeef;
  color: #202020;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-moz-placeholder {
  -webkit-color: #848485;
  -moz-color: #848485;
  -ms-color: #848485;
  -o-color: #848485;
  color: #848485;
}

:-ms-input-placeholder {
  -webkit-color: #848485;
  -moz-color: #848485;
  -ms-color: #848485;
  -o-color: #848485;
  color: #848485;
}

::placeholder {
  -webkit-color: #848485;
  -moz-color: #848485;
  -ms-color: #848485;
  -o-color: #848485;
  color: #848485;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=radio], input[type=checkbox] {
  cursor: pointer;
}

input[type=text],
input[type=number],
select {
  width: 100%;
  padding: 0.75em 0.857em;
  border: 1px solid #e4e4ea;
  border-radius: 40px;
  background-color: #f8f9fd;
  font-size: 1rem;
}
input[type=text].small,
input[type=number].small,
select.small {
  padding: 0.538em 0.923em;
  border: 1px solid #e4e4ea;
  border-radius: 40px;
  background-color: #f8f9fd;
  font-size: 0.929rem;
}
input[type=text]:focus, input[type=text]:active, input[type=text].focus,
input[type=number]:focus,
input[type=number]:active,
input[type=number].focus,
select:focus,
select:active,
select.focus {
  border-color: #3645b1;
}
input[type=text]:disabled,
input[type=number]:disabled,
select:disabled {
  border-color: #e4e4ea;
  background-color: #eeeeef;
  color: #848485;
}
input[type=text].success,
input[type=number].success,
select.success {
  border-color: #53be89;
}
input[type=text].error,
input[type=number].error,
select.error {
  border-color: #c70d0d;
  color: #c70d0d;
}

.radio {
  display: inline-block;
  height: 1.429em;
  cursor: pointer;
}
.radio + .radio {
  margin-left: 1.429em;
}
.radio input[type=radio] {
  display: none;
}
.radio input[type=radio] + span {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 2em;
}
.radio input[type=radio] + span:focus::before, .radio input[type=radio] + span:hover::before {
  border-color: #3645b1;
}
.radio input[type=radio] + span::before {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 1.429em;
  height: 1.429em;
  border-width: 1px;
  border-style: solid;
  border-color: #e4e4ea;
  border-radius: 9999px;
  box-sizing: border-box;
  background-color: #f8f9fd;
  transition: 0.2s;
}
.radio input[type=radio] + span::after {
  content: "";
  position: absolute;
  display: block;
  top: calc(50% - (calc(1.429em * 0.5) / 2));
  left: calc((1.429em / 2) - (calc(1.429em * 0.5) / 2));
  width: calc(1.429em * 0.5);
  height: calc(1.429em * 0.5);
  background-color: #3645b1;
  border-radius: 9999px;
  opacity: 0;
  transform: scale(0, 0);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
.radio input[type=radio]:checked + span::before {
  border-color: #3645b1;
}
.radio input[type=radio]:checked + span::after {
  opacity: 1;
  transform: scale(1, 1);
}
.radio input[type=radio]:disabled + span {
  cursor: default;
}
.radio input[type=radio]:disabled + span::before {
  border-color: transparent;
  background-color: #eeeeef;
}
.radio-toggle-box input:first-child + label {
  margin-left: 0;
}
.radio-toggle-box input:not(:first-child) + label {
  margin-left: 0.286em;
}
.radio-toggle-box .radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.radio-toggle-box .radio:active + .btn, .radio-toggle-box .radio:checked + .btn {
  border-color: transparent;
  background-color: #3645b1;
  color: #fff;
  font-weight: 700;
}
.radio-toggle-box .radio:disabled + .radio-toggle, .radio-toggle-box .radio[disabled] + .radio-toggle {
  pointer-events: none;
  filter: none;
  opacity: 0.65;
}

input[type=checkbox] {
  position: relative;
  width: 1.429em;
  height: 1.429em;
  margin-top: 3px;
}
input[type=checkbox]:focus::before, input[type=checkbox]:hover::before {
  border-color: #3645b1;
}
input[type=checkbox]::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 1.429em;
  height: 1.429em;
  border-width: 1px;
  border-style: solid;
  border-color: #e4e4ea;
  border-radius: 40px;
  box-sizing: border-box;
  background-color: #f8f9fd;
  transition: 0.2s;
}
input[type=checkbox]::after {
  content: "";
  position: absolute;
  display: block;
  width: 1.286em;
  height: 1.286em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='none' stroke-width='2px' stroke='white' stroke-linecap='round' viewBox='0 0 21 21'%3E%3Cpolyline points='5 10.75 8.5 14.25 16 6'%3E%3C/polyline%3E%3C/svg%3E");
  top: calc((1.429em / 2) - 0.643em);
  left: calc((1.429em / 2) - 0.643em);
  transform: scale(0);
}
input[type=checkbox]:checked::before {
  border-color: transparent;
  background-color: #3645b1;
}
input[type=checkbox]:checked::after {
  -webkit-animation: scale-in 0.1s 0.2s linear forwards;
          animation: scale-in 0.1s 0.2s linear forwards;
}
input[type=checkbox]:disabled {
  cursor: default;
}
input[type=checkbox]:disabled::before {
  border-color: transparent;
  background-color: #eeeeef;
}

.checkbox {
  display: inline-block;
  height: 1.429em;
  cursor: pointer;
}
.checkbox + .checkbox {
  margin-left: 1.429em;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox input[type=checkbox] + span {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 2em;
}
.checkbox input[type=checkbox] + span:focus::before, .checkbox input[type=checkbox] + span:hover::before {
  border-color: #3645b1;
}
.checkbox input[type=checkbox] + span::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 1.429em;
  height: 1.429em;
  border-width: 1px;
  border-style: solid;
  border-color: #e4e4ea;
  border-radius: 40px;
  box-sizing: border-box;
  background-color: #f8f9fd;
  transition: 0.2s;
}
.checkbox input[type=checkbox] + span::after {
  content: "";
  position: absolute;
  display: block;
  width: 1.286em;
  height: 1.286em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='none' stroke-width='2px' stroke='white' stroke-linecap='round' viewBox='0 0 21 21'%3E%3Cpolyline points='5 10.75 8.5 14.25 16 6'%3E%3C/polyline%3E%3C/svg%3E");
  left: calc((1.429em / 2) - 0.643em);
  transform: scale(0);
}
.checkbox input[type=checkbox]:checked + span::before {
  border-color: transparent;
  background-color: #3645b1;
}
.checkbox input[type=checkbox]:checked + span::after {
  -webkit-animation: scale-in 0.1s 0.2s linear forwards;
          animation: scale-in 0.1s 0.2s linear forwards;
}
.checkbox input[type=checkbox]:disabled + span {
  cursor: default;
}
.checkbox input[type=checkbox]:disabled + span::before {
  border-color: transparent;
  background-color: #eeeeef;
}
.checkbox-special {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 1.714em;
  box-sizing: border-box;
  cursor: pointer;
}
.checkbox-special input[type=checkbox] {
  display: none;
}
.checkbox-special input[type=checkbox] + .check {
  position: absolute;
  width: 1.714em;
  height: 1.714em;
  border-width: 2px;
  border-style: solid;
  border-color: #e4e4ea;
  border-radius: 40px;
  transition: 0.2s;
}
.checkbox-special input[type=checkbox]:checked + .check {
  top: -0.286em;
  width: 1.714em;
  height: calc(1.714em * 0.6);
  border-width: 3px;
  border-top: transparent;
  border-right: transparent;
  border-color: #3645b1;
  border-radius: 0;
  transform: rotate(-45deg);
}
.checkbox-special span {
  padding-left: 2.571em;
  transition: 0.5s;
}
.checkbox-btn-box input:first-child + label {
  margin-left: 0;
}
.checkbox-btn-box input:not(:first-child) + label {
  margin-left: 0.571em;
}
.checkbox-btn-box .checkbox {
  display: none;
}
.checkbox-btn-box .checkbox:active + .btn, .checkbox-btn-box .checkbox:checked + .btn {
  background-color: #3645b1;
  color: #fff;
}
.checkbox-btn-box .checkbox:active + .btn::before, .checkbox-btn-box .checkbox:checked + .btn::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='none' stroke-width='2px' stroke='white' stroke-linecap='round' viewBox='0 0 21 21'%3E%3Cpolyline points='5 10.75 8.5 14.25 16 6'%3E%3C/polyline%3E%3C/svg%3E");
}
.checkbox-btn-box .checkbox:disabled + .checkbox-btn, .checkbox-btn-box .checkbox[disabled] + .checkbox-btn {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.checkbox-btn-box .checkbox-btn {
  position: relative;
}
.checkbox-btn-box .checkbox-btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 1.429em;
  height: 1.429em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='none' stroke-width='2px' stroke='currentColor' stroke-linecap='round' viewBox='0 0 21 21'%3E%3Cpolyline points='5 10.75 8.5 14.25 16 6'%3E%3C/polyline%3E%3C/svg%3E");
  top: 0.714em;
  right: 0.857em;
}

.ico {
  position: relative;
}
.ico-close {
  height: 1.429rem;
  width: 1.429rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0;
}
.ico-close::before, .ico-close::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.143rem;
  background-color: #111;
}
.ico-close::before {
  transform: rotate(45deg);
}
.ico-close::after {
  transform: rotate(-45deg);
}

.dimmed, .dimmed-countdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-animation: fade-in 0.3s ease forwards;
          animation: fade-in 0.3s ease forwards;
  z-index: 999;
}

.dimmed-countdown {
  background-color: rgba(0, 0, 0, 0.5);
}

.countdown-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.countdown-wrap .countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 37.5rem;
  height: 37.5rem;
  border-radius: 9999px;
  background: rgba(54, 69, 177, 0.5);
}
.countdown-wrap .countdown .num {
  color: #f8f9fd;
  font-size: 19.53rem;
  font-weight: 600;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loading-text {
  position: relative;
  width: 7.143rem;
  height: 7.143rem;
}
.loading-text .loading-circle-line {
  width: 7.143rem;
  height: 7.143rem;
  border-width: 0.143rem;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: #3645b1;
  border-bottom-color: transparent;
  border-left-color: #3645b1;
  border-radius: 9999px;
  transform-origin: 50% 50%;
  -webkit-animation: circle 1.5s linear infinite;
          animation: circle 1.5s linear infinite;
}
.loading-text .loading-circle-line-text {
  position: absolute;
  top: calc(50% - (1rem / 2));
  width: 7.143rem;
  color: #f8f9fd;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0;
  opacity: 0;
  -webkit-animation: loading-text 2s linear infinite;
          animation: loading-text 2s linear infinite;
}
.loading-circle-track {
  width: 3.429rem;
  height: 3.429rem;
  border-width: 0.357rem;
  border-style: solid;
  border-color: #f8f9fd;
  border-bottom-color: #3645b1;
  border-radius: 9999px;
  display: inline-block;
  box-sizing: border-box;
  -webkit-animation: circle 1s linear infinite;
          animation: circle 1s linear infinite;
}
.loading-circle {
  position: relative;
  display: inline-block;
  width: 3.429rem;
  height: 3.429rem;
}
.loading-circle::before, .loading-circle::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3.429rem;
  height: 3.429rem;
  border-radius: 9999px;
  background-color: #3645b1;
  box-sizing: border-box;
  -webkit-animation: loader 2s ease-in-out infinite;
          animation: loader 2s ease-in-out infinite;
}
.loading-circle::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.loading-dots {
  position: relative;
  width: 7.143rem;
  height: 1rem;
}
.loading-dots::before, .loading-dots::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  background: #3645b1;
  box-shadow: 2rem 0 #3645b1;
  -webkit-animation: ball-moveX 1s linear infinite;
          animation: ball-moveX 1s linear infinite;
}
.loading-dots::after {
  box-shadow: none;
  transform-origin: 2.5rem 0;
  transform: rotate(-153deg);
  -webkit-animation: rotate-loader 1s linear infinite;
          animation: rotate-loader 1s linear infinite;
}

.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.error-wrapper .error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 57.143rem;
  min-height: 35.714rem;
  padding: 5em;
  background-color: #f8f9fd;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
}
.error-wrapper .error .content {
  padding-bottom: 2.857em;
  text-align: center;
}
.error-wrapper .error .content .title {
  padding-bottom: 0.667em;
  font-family: "Youandi";
  font-size: 2.143rem;
  font-weight: 700;
}
.error-wrapper .error .content span {
  color: #3645b1;
}
.error-wrapper .error .btn.primary {
  width: 13.333em;
}

.date-picker {
  display: flex;
  align-items: center;
}

.grid-link:hover, .grid-link:focus, .grid-link:active, .grid-link:visited {
  text-decoration: underline;
  outline-offset: 0;
}

@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: 100;
  src: url("./../fonts/SFPro/SFProDisplay-Ultralight.eot");
  src: url("./../fonts/SFPro/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("./../fonts/SFPro/SFProDisplay-Ultralight.woff2") format("woff2"), url("./../fonts/SFPro/SFProDisplay-Ultralight.woff") format("woff"), url("./../fonts/SFPro/SFProDisplay-Ultralight.ttf") format("truetype"), url("./../fonts/SFPro/SFProDisplay-Ultralight.svg#SFProDisplay-Ultralight") format("svg");
}
@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: 200;
  src: url("./../fonts/SFPro/SFProDisplay-Thin.eot");
  src: url("./../fonts/SFPro/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/SFPro/SFProDisplay-Thin.woff2") format("woff2"), url("./../fonts/SFPro/SFProDisplay-Thin.woff") format("woff"), url("./../fonts/SFPro/SFProDisplay-Thin.ttf") format("truetype"), url("./../fonts/SFPro/SFProDisplay-Thin.svg#SFProDisplay-Thin") format("svg");
}
@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: 300;
  src: url("./../fonts/SFPro/SFProDisplay-Light.eot");
  src: url("./../fonts/SFPro/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("./../fonts/SFPro/SFProDisplay-Light.woff2") format("woff2"), url("./../fonts/SFPro/SFProDisplay-Light.woff") format("woff"), url("./../fonts/SFPro/SFProDisplay-Light.ttf") format("truetype"), url("./../fonts/SFPro/SFProDisplay-Light.svg#SFProDisplay-Light") format("svg");
}
@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/SFPro/SFProDisplay-Regular.eot");
  src: url("./../fonts/SFPro/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/SFPro/SFProDisplay-Regular.woff2") format("woff2"), url("./../fonts/SFPro/SFProDisplay-Regular.woff") format("woff"), url("./../fonts/SFPro/SFProDisplay-Regular.ttf") format("truetype"), url("./../fonts/SFPro/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg");
}
@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: 500;
  src: url("./../fonts/SFPro/SFProDisplay-Medium.eot");
  src: url("./../fonts/SFPro/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/SFPro/SFProDisplay-Medium.woff2") format("woff2"), url("./../fonts/SFPro/SFProDisplay-Medium.woff") format("woff"), url("./../fonts/SFPro/SFProDisplay-Medium.ttf") format("truetype"), url("./../fonts/SFPro/SFProDisplay-Medium.svg#SFProDisplay-Medium") format("svg");
}
@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: 600;
  src: url("./../fonts/SFPro/SFProDisplay-Semibold.eot");
  src: url("./../fonts/SFPro/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("./../fonts/SFPro/SFProDisplay-Semibold.woff2") format("woff2"), url("./../fonts/SFPro/SFProDisplay-Semibold.woff") format("woff"), url("./../fonts/SFPro/SFProDisplay-Semibold.ttf") format("truetype"), url("./../fonts/SFPro/SFProDisplay-Semibold.svg#SFProDisplay-Semibold") format("svg");
}
@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/SFPro/SFProDisplay-Bold.eot");
  src: url("./../fonts/SFPro/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/SFPro/SFProDisplay-Bold.woff2") format("woff2"), url("./../fonts/SFPro/SFProDisplay-Bold.woff") format("woff"), url("./../fonts/SFPro/SFProDisplay-Bold.ttf") format("truetype"), url("./../fonts/SFPro/SFProDisplay-Bold.svg#SFProDisplay-Bold") format("svg");
}
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 100;
  src: url("./../fonts/NotoKR/NotoKR-Thin.eot");
  src: url("./../fonts/NotoKR/NotoKR-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/NotoKR/NotoKR-Thin.woff2") format("woff2"), url("./../fonts/NotoKR/NotoKR-Thin.woff") format("woff"), url("./../fonts/NotoKR/NotoKR-Thin.ttf") format("truetype"), url("./../fonts/NotoKR/NotoKR-Thin.svg#NotoKR-Thin") format("svg");
}
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 300;
  src: url("./../fonts/NotoKR/NotoKR-Light.eot");
  src: url("./../fonts/NotoKR/NotoKR-Light.eot?#iefix") format("embedded-opentype"), url("./../fonts/NotoKR/NotoKR-Light.woff2") format("woff2"), url("./../fonts/NotoKR/NotoKR-Light.woff") format("woff"), url("./../fonts/NotoKR/NotoKR-Light.ttf") format("truetype"), url("./../fonts/NotoKR/NotoKR-Light.svg#NotoKR-Light") format("svg");
}
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/NotoKR/NotoKR-Regular.eot");
  src: url("./../fonts/NotoKR/NotoKR-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/NotoKR/NotoKR-Regular.woff2") format("woff2"), url("./../fonts/NotoKR/NotoKR-Regular.woff") format("woff"), url("./../fonts/NotoKR/NotoKR-Regular.ttf") format("truetype"), url("./../fonts/NotoKR/NotoKR-Regular.svg#NotoKR-Regular") format("svg");
}
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 500;
  src: url("./../fonts/NotoKR/NotoKR-Medium.eot");
  src: url("./../fonts/NotoKR/NotoKR-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/NotoKR/NotoKR-Medium.woff2") format("woff2"), url("./../fonts/NotoKR/NotoKR-Medium.woff") format("woff"), url("./../fonts/NotoKR/NotoKR-Medium.ttf") format("truetype"), url("./../fonts/NotoKR/NotoKR-Medium.svg#NotoKR-Medium") format("svg");
}
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/NotoKR/NotoKR-Bold.eot");
  src: url("./../fonts/NotoKR/NotoKR-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/NotoKR/NotoKR-Bold.woff2") format("woff2"), url("./../fonts/NotoKR/NotoKR-Bold.woff") format("woff"), url("./../fonts/NotoKR/NotoKR-Bold.ttf") format("truetype"), url("./../fonts/NotoKR/NotoKR-Bold.svg#NotoKR-Bold") format("svg");
}
@font-face {
  font-family: "NotoKR";
  font-style: normal;
  font-weight: 900;
  src: url("./../fonts/NotoKR/NotoKR-Black.eot");
  src: url("./../fonts/NotoKR/NotoKR-Black.eot?#iefix") format("embedded-opentype"), url("./../fonts/NotoKR/NotoKR-Black.woff2") format("woff2"), url("./../fonts/NotoKR/NotoKR-Black.woff") format("woff"), url("./../fonts/NotoKR/NotoKR-Black.ttf") format("truetype"), url("./../fonts/NotoKR/NotoKR-Black.svg#NotoKR-Black") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./../fonts/Roboto/Roboto-Thin.eot");
  src: url("./../fonts/Roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto/Roboto-Thin.woff2") format("woff2"), url("./../fonts/Roboto/Roboto-Thin.woff") format("woff"), url("./../fonts/Roboto/Roboto-Thin.ttf") format("truetype"), url("./../fonts/Roboto/Roboto-Thin.svg#Roboto-Thin") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("./../fonts/Roboto/Roboto-Light.eot");
  src: url("./../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("./../fonts/Roboto/Roboto-Light.woff") format("woff"), url("./../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("./../fonts/Roboto/Roboto-Light.svg#Roboto-Light") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/Roboto/Roboto-Regular.eot");
  src: url("./../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("./../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("./../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("./../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./../fonts/Roboto/Roboto-Medium.eot");
  src: url("./../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("./../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("./../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("./../fonts/Roboto/Roboto-Medium.svg#Roboto-Medium") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/Roboto/Roboto-Bold.eot");
  src: url("./../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("./../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("./../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("./../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("./../fonts/Roboto/Roboto-Black.eot");
  src: url("./../fonts/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto/Roboto-Black.woff2") format("woff2"), url("./../fonts/Roboto/Roboto-Black.woff") format("woff"), url("./../fonts/Roboto/Roboto-Black.ttf") format("truetype"), url("./../fonts/Roboto/Roboto-Black.svg#Roboto-Black") format("svg");
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 8em;
  padding-right: 0.75em;
  padding-left: 0.75em;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #3645b1;
  z-index: 99;
}
header h1 {
  color: #f3f6fe;
  font-size: 3.038rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  cursor: default;
}
header h1 span {
  letter-spacing: 0;
  padding-right: 0.247em;
  color: #7c9bfe;
  font-weight: 300;
}
header button {
  align-self: stretch;
  width: 8em;
  color: #edefff;
}
header button i {
  font-size: 3.875rem;
}

.main header {
  border-radius: 0;
}
.main header button.home {
  visibility: hidden;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  padding: 5em;
  overflow: auto;
}

.main section {
  padding: 0;
}

.title-area {
  padding-top: 1.44em;
  color: #7c8094;
  font-size: 1.736rem;
}
.title-area .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-area .title-description {
  padding-top: 0.36em;
  line-height: 1.4;
}
.title-area h3 {
  padding-top: 0.473em;
  color: #3c50c4;
  font-size: 3.038rem;
  font-weight: 400;
}
.title-area h3 .user-name {
  font-weight: 700;
}

h2 {
  color: #1e2c7e;
  font-size: 4.774rem;
  font-weight: 700;
}

.complete-timer {
  display: inline-block;
  padding-top: 0.432em;
}
.complete-timer .timer-num {
  letter-spacing: 0;
  display: inline-block;
  width: 1.44em;
  color: #c70d0d;
  font-weight: 700;
}
.complete-timer .timer-bar {
  margin-top: 0.288em;
}

.contents-area {
  padding-top: 4.375em;
}
.contents-area .image-wrap {
  position: relative;
  text-align: center;
}
.contents-area .image-wrap::before {
  content: "";
  position: absolute;
  display: block;
  top: -8.6%;
  left: 21.6%;
  width: 37.5rem;
  height: 37.5rem;
  background: radial-gradient(rgba(199, 13, 13, 0.5019607843) 0%, transparent 30%);
  -webkit-clip-path: polygon(50% 50%, 100% 45%, 100% 55%);
          clip-path: polygon(50% 50%, 100% 45%, 100% 55%);
  opacity: 0.2;
  -webkit-animation: light 2s linear infinite;
          animation: light 2s linear infinite;
}
.contents-area .image-wrap::after {
  content: "";
  position: absolute;
  display: block;
  top: calc(23.9% - 0.5rem);
  left: calc(54.15% - 0.5rem);
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  background-color: #c70d0d;
  opacity: 0;
  box-shadow: 0 0 10px #c70d0d, 0 0 20px #c70d0d, 0 0 30px #c70d0d, 0 0 40px #c70d0d, 0 0 50px #c70d0d, 0 0 60px #c70d0d, 0 0 70px #c70d0d, 0 0 80px #c70d0d;
  -webkit-animation: lightGlow 1s linear infinite;
          animation: lightGlow 1s linear infinite;
}

table {
  position: relative;
}
table::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #1e2c7e;
  z-index: 1;
}
table thead th {
  padding: 1.375rem 1.125rem;
  border-top: 3px solid #1e2c7e;
  border-bottom: 2px solid #1e2c7e;
  background-color: #e7eaef;
  color: #1e2c7e;
  font-size: 1.736rem;
  text-align: left;
}
table tbody {
  background-color: #f4f6fa;
}
table tbody tr {
  cursor: pointer;
}
table tbody tr:hover td {
  background: rgba(0, 0, 255, 0.03);
}
table tbody tr.selected td {
  background: rgba(0, 0, 255, 0.07);
}
table tbody th,
table tbody td {
  height: 7.063rem;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  border-bottom: 1px solid #cbd0dc;
  color: #555f78;
  font-size: 1.736rem;
  font-weight: 300;
  text-align: left;
}
table tbody th i,
table tbody td i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
table tbody .title {
  color: #253766;
  font-size: 1.627rem;
  font-weight: 500;
}
table tbody .title a {
  color: #253766;
}

.main-area {
  display: flex;
  flex-direction: column;
  min-height: 47.625em;
}
.main-area .main-contents {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  position: relative;
  flex-grow: 1;
  background-color: #3645b1;
}
.main-area .main-contents:after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #1e2c7e;
  z-index: -1;
}
.main-area .main-contents .button-box {
  padding-bottom: 6.125em;
  text-align: center;
}
.main-area .main-contents .button-box button {
  height: 2.4em;
  padding-left: 1.56em;
  padding-right: 1.56em;
  background: repeating-conic-gradient(rgba(0, 0, 0, 0) 0.000045%, rgba(143, 193, 227, 0.8666666667) 0.0005%), linear-gradient(#54abe7, #54abe7);
  background-blend-mode: soft-light;
  color: #fafdff;
  font-size: 5.208em;
  font-weight: 700;
  box-shadow: 0 40px 50px 10px rgba(30, 44, 126, 0.6);
}
.main-area .main-contents .button-box button span {
  padding-right: 0.192em;
  font-weight: 100;
  letter-spacing: -0.05em;
}
.main-area .weather-box {
  flex-basis: auto;
  flex-grow: 1;
  justify-content: flex-start;
  display: flex;
  padding-top: 3.75em;
  padding-left: 3.75em;
  padding-right: 5em;
  padding-bottom: 6.25em;
}
.main-area .weather-box img {
  width: 9.375em;
  height: 8.125em;
}
.main-area .weather-box .info {
  padding-top: 0.938em;
  padding-left: 0.625em;
}
.main-area .weather-box .info-date {
  letter-spacing: 0;
  padding-bottom: 0.36em;
  color: #94a0f4;
  font-size: 1.736rem;
  font-weight: 500;
}
.main-area .weather-box .info-date .date {
  padding-right: 0.288em;
}
.main-area .weather-box .info-weather {
  color: #d1d5f2;
  font-size: 1.953rem;
  font-weight: 700;
}
.main-area .weather-box .info-weather .location,
.main-area .weather-box .info-weather .celsius-mark {
  padding-right: 0.32em;
}
.main-area .weather-box .info-weather .degree,
.main-area .weather-box .info-weather .celsius-mark {
  font-size: 2.17rem;
  font-weight: 600;
}
.main-area .guide-contents {
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  height: 10em;
  min-height: 80px;
  background-color: #1e2c7e;
}
.main-area .guide-contents button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #798af2;
  font-size: 2.604rem;
  font-weight: 700;
}
.main-area .guide-contents button .click {
  letter-spacing: 0;
  position: relative;
  height: 1.8em;
  margin-left: 1.008em;
  padding-left: 1.08em;
  padding-right: 3.168em;
  background-color: #f7d63b;
  color: #1e2c7e;
  font-size: 1.736rem;
  font-weight: 500;
}
.main-area .guide-contents button .click:before {
  content: "";
  position: absolute;
  display: block;
  width: 2.232em;
  height: 2.232em;
  background-image: url("./../images/ico-tap.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 2.232em 2.232em;
  right: 0.648em;
  top: 0.108em;
  transform: rotate(-30deg);
}

.news-area {
  flex-basis: auto;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 5em;
}
.news-area img {
  width: 100%;
  border-radius: 40px;
}

.publishing-list {
  overflow: auto;
}
.publishing-list header {
  flex-direction: column;
  justify-content: center;
  height: 18.75em;
  padding: 0;
}
.publishing-list header .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 18.75em;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  background-color: #3645b1;
}
.publishing-list header .title::before {
  content: "";
  position: absolute;
  display: block;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  top: 0;
  width: 100%;
  height: 26.25em;
  background-color: #1e2c7e;
  z-index: -1;
}
.publishing-list header .title h2 {
  letter-spacing: 0;
  color: #3ca5ee;
  font-size: 5.208rem;
  font-weight: 100;
}
.publishing-list section {
  margin-top: 26.25em;
}
.publishing-list section .list-group + .list-group {
  padding-top: 3.75em;
}
.publishing-list section .list-group h3 {
  padding-bottom: 0.563em;
  color: #53be89;
  font-size: 2rem;
  font-weight: 700;
}
.publishing-list section table thead th {
  letter-spacing: 0;
  text-align: center;
}
.publishing-list section table thead th:first-child {
  text-align: left;
}
.publishing-list section table tbody td {
  height: 3.75rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  text-align: center;
}
.publishing-list section table tbody td.title {
  text-align: left;
}
.publishing-list section table tbody td.date {
  letter-spacing: 0;
  font-size: 1.519rem;
}
.publishing-list section table tbody td.state i {
  font-size: 3.75rem;
}
.publishing-list section table tbody td.state.finished {
  color: #ea6c78;
}
.publishing-list section table tbody td.state.ongoing {
  color: #54abe7;
}